# Importar librerias

## Instalacion librerias

In [1]:
import pandas as pd
import re #Sirve para string

# Importaci√≥n dataset

In [122]:
# definicion del dataframe
df = pd.read_csv("Crime_Data_from_2020_to_Present.csv")
df.head(10)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
5,231808869,04/04/2023 12:00:00 AM,12/01/2020 12:00:00 AM,2300,18,Southeast,1826,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,9900 COMPTON AV,NaN,33.9467,-118.2463
6,230110144,04/04/2023 12:00:00 AM,07/03/2020 12:00:00 AM,900,1,Central,182,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1100 S GRAND AV,NaN,34.0415,-118.2620
7,220314085,07/22/2022 12:00:00 AM,05/12/2020 12:00:00 AM,1110,3,Southwest,303,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,2500 S SYCAMORE AV,NaN,34.0335,-118.3537
8,231309864,04/28/2023 12:00:00 AM,12/09/2020 12:00:00 AM,1400,13,Newton,1375,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1300 E 57TH ST,NaN,33.9911,-118.2521
9,211904005,12/31/2020 12:00:00 AM,12/31/2020 12:00:00 AM,1220,19,Mission,1974,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,9000 CEDROS AV,NaN,34.2336,-118.4535

In [123]:
df.iloc[:,:14].head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,0,M,O
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,47,M,O
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,19,X,X
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,19,M,O
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,1822 1501 0930 2004,28,M,H

In [124]:
df.iloc[:,14:].head()

,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,101.0,STREET,NaN,NaN,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,405.0,CLOTHING STORE,NaN,NaN,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,102.0,SIDEWALK,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [125]:
df.iloc[:,14:].tail()

,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
986495,207.0,BAR/COCKTAIL/NIGHTCLUB,NaN,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,3700 WILSHIRE BL,NaN,34.0617,-118.3066
986496,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,4000 W 23RD ST,NaN,34.0362,-118.3284
986497,503.0,HOTEL,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
986498,102.0,SIDEWALK,308.0,STICK,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
986499,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986500 entries, 0 to 986499
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           986500 non-null  int64
 1   Date Rptd       986500 non-null  object
 2   DATE OCC        986500 non-null  object
 3   TIME OCC        986500 non-null  int64
 4   AREA            986500 non-null  int64
 5   AREA NAME       986500 non-null  object
 6   Rpt Dist No     986500 non-null  int64
 7   Part 1-2        986500 non-null  int64
 8   Crm Cd          986500 non-null  int64
 9   Crm Cd Desc     986500 non-null  object
 10  Mocodes         840065 non-null  object
 11  Vict Age        986500 non-null  int64
 12  Vict Sex        846925 non-null  object
 13  Vict Descent    846914 non-null  object
 14  Premis Cd       986486 non-null  float64
 15  Premis Desc     985915 non-null  object
 16  Weapon Used Cd  326368 non-null  float64
 17  Weapon Desc     326368 non-null  object
 18  Status          986499 non-null  object
 19  Status Desc     986500 non-null  object
 20  Crm Cd 1        986489 non-null  float64
 21  Crm Cd 2        68912 non-null   float64
 22  Crm Cd 3        2310 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        986500 non-null  object
 25  Cross Street    152270 non-null  object
 26  LAT             986500 non-null  float64
 27  LON             986500 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 210.7+ MB

In [127]:
df.describe()

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON
count,9.865000e+05,986500.000000,986500.000000,986500.000000,986500.000000,986500.000000,986500.000000,986486.000000,326368.000000,986489.000000,68912.000000,2310.000000,64.00000,986500.000000,986500.000000
mean,2.198270e+08,1339.086392,10.698086,1116.245129,1.403666,500.782398,29.045177,306.054803,363.846008,500.538333,958.162091,984.198701,991.21875,33.996033,-118.083281
std,1.299240e+07,651.457178,6.108873,611.002343,0.490632,206.092913,21.976666,219.156166,123.699000,205.891829,110.250287,51.495991,27.06985,1.633543,5.661853
min,8.170000e+02,1.000000,1.000000,101.000000,1.000000,110.000000,-4.000000,101.000000,101.000000,110.000000,210.000000,310.000000,821.00000,0.000000,-118.667600
25%,2.106103e+08,900.000000,5.000000,587.000000,1.000000,331.000000,0.000000,101.000000,311.000000,331.000000,998.000000,998.000000,998.00000,34.014600,-118.430500
50%,2.208174e+08,1420.000000,11.000000,1141.000000,1.000000,442.000000,30.000000,203.000000,400.000000,442.000000,998.000000,998.000000,998.00000,34.058900,-118.322500
75%,2.310049e+08,1900.000000,16.000000,1617.000000,2.000000,626.000000,44.000000,501.000000,400.000000,626.000000,998.000000,998.000000,998.00000,34.164900,-118.273900
max,2.499289e+08,2359.000000,21.000000,2199.000000,2.000000,956.000000,120.000000,976.000000,516.000000,956.000000,999.000000,999.000000,999.00000,34.334300,0.000000

In [131]:
# Exploraci√≥n de primeros 50 valores √∫nicos solo para variables categ√≥ricas
for col in df.select_dtypes(include='object').columns:
    print(f"--- {col} ---")
    print(df[col].dropna().unique()[:50])  # Primeros 50 valores √∫nicos
    print("\n")

--- date_report ---
['03/01/2020 12:00:00 AM' '02/09/2020 12:00:00 AM'
 '11/11/2020 12:00:00 AM' '05/10/2023 12:00:00 AM'
 '08/18/2022 12:00:00 AM' '04/04/2023 12:00:00 AM'
 '07/22/2022 12:00:00 AM' '04/28/2023 12:00:00 AM'
 '12/31/2020 12:00:00 AM' '01/21/2022 12:00:00 AM'
 '04/12/2022 12:00:00 AM' '01/05/2023 12:00:00 AM'
 '05/06/2022 12:00:00 AM' '06/01/2023 12:00:00 AM'
 '02/03/2023 12:00:00 AM' '12/24/2023 12:00:00 AM'
 '11/27/2020 12:00:00 AM' '09/20/2022 12:00:00 AM'
 '02/03/2022 12:00:00 AM' '04/25/2023 12:00:00 AM'
 '03/21/2023 12:00:00 AM' '06/04/2023 12:00:00 AM'
 '09/09/2020 12:00:00 AM' '08/03/2023 12:00:00 AM'
 '02/02/2022 12:00:00 AM' '02/23/2022 12:00:00 AM'
 '05/03/2020 12:00:00 AM' '03/20/2021 12:00:00 AM'
 '04/28/2022 12:00:00 AM' '02/27/2023 12:00:00 AM'
 '01/17/2023 12:00:00 AM' '05/09/2023 12:00:00 AM'
 '01/19/2022 12:00:00 AM' '09/06/2022 12:00:00 AM'
 '09/27/2021 12:00:00 AM' '10/22/2021 12:00:00 AM'
 '10/10/2022 12:00:00 AM' '03/28/2023 12:00:00 AM'
 '10/25/2023 12:00:00 AM' '11/15/2022 12:00:00 AM'
 '04/18/2023 12:00:00 AM' '03/30/2022 12:00:00 AM'
 '01/06/2022 12:00:00 AM' '06/03/2022 12:00:00 AM'
 '07/26/2022 12:00:00 AM' '03/03/2023 12:00:00 AM'
 '12/13/2022 12:00:00 AM' '07/07/2022 12:00:00 AM'
 '04/27/2022 12:00:00 AM' '07/14/2022 12:00:00 AM']


--- date_ocurrance ---
['03/01/2020 12:00:00 AM' '02/08/2020 12:00:00 AM'
 '11/04/2020 12:00:00 AM' '03/10/2020 12:00:00 AM'
 '08/17/2020 12:00:00 AM' '12/01/2020 12:00:00 AM'
 '07/03/2020 12:00:00 AM' '05/12/2020 12:00:00 AM'
 '12/09/2020 12:00:00 AM' '12/31/2020 12:00:00 AM'
 '07/01/2020 12:00:00 AM' '10/01/2020 12:00:00 AM'
 '02/01/2020 12:00:00 AM' '11/01/2020 12:00:00 AM'
 '02/02/2020 12:00:00 AM' '01/09/2020 12:00:00 AM'
 '11/27/2020 12:00:00 AM' '01/01/2020 12:00:00 AM'
 '02/11/2020 12:00:00 AM' '03/15/2020 12:00:00 AM'
 '09/09/2020 12:00:00 AM' '02/09/2020 12:00:00 AM'
 '08/14/2020 12:00:00 AM' '05/02/2020 12:00:00 AM'
 '03/30/2020 12:00:00 AM' '01/27/2020 12:00:00 AM'
 '05/08/2020 12:00:00 AM' '01/18/2020 12:00:00 AM'
 '05/26/2020 12:00:00 AM' '11/26/2020 12:00:00 AM'
 '04/01/2020 12:00:00 AM' '06/28/2020 12:00:00 AM'
 '09/02/2020 12:00:00 AM' '10/23/2020 12:00:00 AM'
 '10/30/2020 12:00:00 AM' '12/10/2020 12:00:00 AM'
 '01/14/2020 12:00:00 AM' '05/17/2020 12:00:00 AM'
 '02/23/2020 12:00:00 AM' '07/07/2020 12:00:00 AM'
 '07/14/2020 12:00:00 AM' '08/01/2020 12:00:00 AM'
 '06/01/2020 12:00:00 AM' '11/13/2020 12:00:00 AM'
 '11/12/2020 12:00:00 AM' '03/29/2020 12:00:00 AM'
 '07/09/2020 12:00:00 AM' '12/20/2020 12:00:00 AM'
 '09/13/2020 12:00:00 AM' '12/02/2020 12:00:00 AM']


--- area_name ---
['Wilshire' 'Central' 'Southwest' 'Van Nuys' 'Hollywood' 'Southeast'
 'Newton' 'Mission' 'Rampart' 'West Valley' 'West LA' 'Olympic'
 'Hollenbeck' 'Topanga' 'Northeast' '77th Street' 'Pacific' 'N Hollywood'
 'Harbor' 'Foothill' 'Devonshire']


--- crime_desc ---
['VEHICLE - STOLEN' 'BURGLARY FROM VEHICLE' 'BIKE - STOLEN'
 'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)' 'THEFT OF IDENTITY'
 'BATTERY - SIMPLE ASSAULT'
 'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH'
 'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)'
 'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT'
 'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD'
 'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD'
 'CRIMINAL THREATS - NO WEAPON DISPLAYED'
 'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)'
 'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)'
 'CHILD ANNOYING (17YRS & UNDER)' 'THEFT PLAIN - PETTY ($950 & UNDER)'
 'INTIMATE PARTNER - SIMPLE ASSAULT' 'LEWD CONDUCT'
 'THEFT PLAIN - ATTEMPT' 'BURGLARY'
 'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)' 'ROBBERY'
 'BUNCO, GRAND THEFT' 'BATTERY WITH SEXUAL CONTACT'
 'INTIMATE PARTNER - AGGRAVATED ASSAULT' 'ORAL COPULATION'
 'UNAUTHORIZED COMPUTER ACCESS'
 'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ'
 'VIOLATION OF RESTRAINING ORDER'
 'SHOPLIFTING - PETTY THEFT ($950 & UNDER)'
 'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)'
 'OTHER MISCELLANEOUS CRIME' 'BRANDISH WEAPON'
 'DOCUMENT FORGERY / STOLEN FELONY'
 'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE' 'RAPE, FORCIBLE'
 'VANDALISM - MISDEAMEANOR ($399 OR UNDER)'
 'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT'
 'CREDIT CARDS, FRAUD USE ($950.01 & OVER)'
 'THREATENING PHONE CALLS/LETTERS' 'SEXUAL PENETRATION W/FOREIGN OBJECT'
 'EXTORTION' 'OTHER ASSAULT' 'PICKPOCKET' 'ARSON' 'DISTURBING THE PEACE'
 'BUNCO, ATTEMPT' 'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE' 'PIMPING'
 'PEEPING TOM']


--- crime_mo ---
['1822 1402 0344' '0344 1251' '0325 1501' '1822 1501 0930 2004'
 '1822 0100 0930 0929' '0930 0929' '0100' '0416' '1822 0930'
 '0913 2024 1817 0360 1258 0507' '1251 1258 0913 0400 0500 0522 1817'
 '0100 0928 0929 0935 1822' '0928 1822' '1309 0400' '2041 1906 1822'
 '0352 1822 0344' '1259 0913 1817 1801 0503'
 '1251 1258 0400 0522 0913 0551 2021' '1822 0929 0930' '1912 0913' '0928'
 '2000 1813 0913 0416' '0100 0917 1822' '0100 0928' '0344 1302 1307'
 '0913 0400 0443 1814 2000' '0100 1822 0930 0922' '0377' '0917'
 '1822 0935 1202' '0930 0929 0928 1822' '1822 0359 1251 1259'
 '0522 0500 1258' '0922 0929 0923 0930' '0929 1822 0100 0930 0922'
 '0344 1202 1606' '0100 0928 1202' '1817' '0344' '0917 0929' '1501'
 '1822 1414 0947 0344' '1814 0913 0400' '0929 1822' '0923'
 '0913 0602 0360 0545 0536 0531 1258' '0352 0344 1202 2004 2021 0913 1817'
 '1822 0929' '0397 0344' '0100 0930 1822']


--- sex_victim ---
['M' 'X' 'F' 'H' '-']


--- descent_victim ---
['O' 'X' 'H' 'B' 'W' 'A' 'K' 'C' 'J' 'F' 'I' 'V' 'S' 'P' 'Z' 'G' 'U' 'D'
 'L' '-']


--- loc_desc ---
['STREET' 'BUS STOP/LAYOVER (ALSO QUERY 124)'
 'MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)' 'CLOTHING STORE'
 'SIDEWALK' 'SINGLE FAMILY DWELLING' 'CELL PHONE STORE' 'CYBERSPACE'
 'WEBSITE' 'OTHER BUSINESS' 'PARKING LOT' 'OTHER RESIDENCE'
 'AUTOMATED TELLER MACHINE (ATM)' 'DEPARTMENT STORE' 'PUBLIC STORAGE'
 'GARAGE/CARPORT' 'OFFICE BUILDING/OFFICE' 'EQUIPMENT RENTAL'
 'POLICE FACILITY' 'MTA BUS' 'SPECIALTY SCHOOL/OTHER' 'BANK'
 'GOVERNMENT FACILITY (FEDERAL,STATE, COUNTY & CITY)' 'SKATING RINK*'
 'BUS STOP' 'JUNIOR HIGH SCHOOL' 'OTHER/OUTSIDE' 'ALLEY'
 'VEHICLE, PASSENGER/TRUCK' 'ABANDONED BUILDING ABANDONED HOUSE'
 'TRANSPORTATION FACILITY (AIRPORT)' 'MOTEL' 'HOSPITAL'
 'BUS, SCHOOL, CHURCH' 'OTHER PREMISE' 'STORAGE SHED' 'OTHER STORE'
 'HIGH SCHOOL' 'MAIL BOX' 'HOTEL' 'NIGHT CLUB (OPEN EVENINGS ONLY)'
 'FINANCE COMPANY' 'PARK/PLAYGROUND' 'COLISEUM' 'HEALTH SPA/GYM'
 'CHURCH/CHAPEL (CHANGED 03-03 FROM CHURCH/TEMPLE)' 'DRIVEWAY'
 'UNDERPASS/BRIDGE*' 'JEWELRY STORE' 'BANKING INSIDE MARKET-STORE *']


--- weapon_desc ---
['STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)' 'VEHICLE'
 'UNKNOWN WEAPON/OTHER WEAPON' 'VERBAL THREAT'
 'BELT FLAILING INSTRUMENT/CHAIN' 'HAND GUN' 'UNKNOWN FIREARM'
 'KNIFE WITH BLADE 6INCHES OR LESS' 'FIXED OBJECT' 'KITCHEN KNIFE'
 'MACHETE' 'UNKNOWN TYPE CUTTING INSTRUMENT' 'MACE/PEPPER SPRAY' 'STICK'
 'OTHER KNIFE' 'PHYSICAL PRESENCE'
 'KNIFE WITH BLADE OVER 6 INCHES IN LENGTH' 'HAMMER'
 'AIR PISTOL/REVOLVER/RIFLE/BB GUN' 'SEMI-AUTOMATIC PISTOL'
 'SIMULATED GUN' 'RAZOR' 'OTHER FIREARM' 'FOLDING KNIFE' 'PIPE/METAL PIPE'
 'ROCK/THROWN OBJECT' 'RIFLE' 'OTHER CUTTING INSTRUMENT' 'FIRE' 'REVOLVER'
 'BOTTLE' 'SCISSORS' 'SWITCH BLADE' 'BRASS KNUCKLES' 'CLUB/BAT'
 'BLUNT INSTRUMENT' 'BOARD' 'STUN GUN' 'CLEAVER' 'RAZOR BLADE'
 'SCREWDRIVER' 'SHOTGUN' 'CONCRETE BLOCK/BRICK' 'CAUSTIC CHEMICAL/POISON'
 'SEMI-AUTOMATIC RIFLE' 'SCALDING LIQUID' 'TIRE IRON' 'BOWIE KNIFE'
 'GLASS' 'AXE']


--- case_status_code ---
['AA' 'IC' 'AO' 'JA' 'JO' 'CC']


--- case_status_desc ---
['Adult Arrest' 'Invest Cont' 'Adult Other' 'Juv Arrest' 'Juv Other' 'UNK']


--- location ---
['1900 S  LONGWOOD                     AV'
 '1000 S  FLOWER                       ST'
 '1400 W  37TH                         ST'
 '14000    RIVERSIDE                    DR' '1900    TRANSIENT'
 '9900    COMPTON                      AV'
 '1100 S  GRAND                        AV'
 '2500 S  SYCAMORE                     AV'
 '1300 E  57TH                         ST'
 '9000    CEDROS                       AV'
 '100 W  COLDEN                       AV'
 '13400    RANGOON                      ST'
 '900 N  MARIPOSA                     AV'
 'VALJEAN                      ST'
 '4200    SANTO TOMAS                  DR'
 '400 W  90TH                         ST'
 '4000    WALL                         ST'
 '4500    LOMITA                       ST'
 '5200    GENESTA                      AV'
 '800 S  TREMAINE                     AV'
 '16700    MONTE HERMOSO                DR'
 '8500    COLUMBUS                     AV'
 '1700 S  WESTMORELAND                 AV' '200 E  AVENUE 28'
 '21000    VANOWEN                      ST'
 '2800    WAVERLY                      DR'
 '7700    SAUSALITO                    AV'
 '2500 W  4TH                          ST'
 '1600 W  67TH                         ST'
 '1200 S  WESTGATE                     AV'
 '6200    4TH                          AV'
 '100 E  85TH                         ST'
 '2800 E  OBSERVATORY                  RD'
 'WASHINGTON                   PL'
 '200 S  CORONADO                     ST'
 '7800 S  SAN PEDRO                    ST'
 '8700    ORCHARD                      AV'
 '5700    CARTWRIGHT                   AV'
 '3400    PERCY                        ST'
 '8700    TOBIAS                       AV'
 '17900    EMELITA                      ST'
 '700 E  73RD                         ST'
 '1100 W  6TH                          ST'
 '5700    COLFAX                       AV'
 '2700 S  CENTRAL                      AV'
 '15200    LA MAIDA                     ST'
 '14500    WILLOWGREEN                  LN'
 '1400 W  25TH                         ST'
 '500 W  75TH                         ST'
 '2300 S  MEYLER                       ST']


--- cross_street ---
['VANOWEN                      AV' 'INGLEWOOD'
 'GLADYS                       AV' 'WALL'
 '43RD                         ST' 'LEXINGTON' 'OSBORNE' 'ENCINO'
 'ROSCOE                       BL' 'BLUFF CREEK                  DR'
 'BASSETT' 'FOUNTAIN' 'SAN PEDRO                    ST'
 'HIGHLAND                     AV' 'MAHAR'
 'CRYSTAL SPRINGS              DR' 'VENTURA' 'SPENCE'
 'WINNETKA                     AV' 'WOODMAN' 'EL CENTRO' 'WADSWORTH'
 'GAGE' 'WESTERN' 'CANBY                        ST'
 'W  SLAUSON                      AV' 'PARTHENIA                    ST'
 'DE SOTO' 'DIVISION' 'CROCKER' 'RANCHITO'
 'CLUBHOUSE                    AV' 'UNKNOWN' 'ATOLL'
 '29TH                         ST' 'N  SPRING                       ST'
 'BROADWAY' 'CENTRAL                      AV' 'MAIN'
 '11TH                         ST' 'WESTERN                      AV'
 'ELMER' '84TH                         ST'
 'GRIFFITH                     AV' 'S  BROADWAY' '24TH'
 'DONA LOLA                    DR' 'HOOVER'
 '33RD                         ST' 'CENTURY PARK']

In [132]:
# Vamos a renombrar las columnas para hacerlas m√°s comprensibles, se trata de un cambio en el Diccionario
rename_columns = {
    'DR_NO': 'id_report',
    'Date Rptd': 'date_report',
    'DATE OCC': 'date_ocurrance',
    'TIME OCC': 'time_ocurrance',
    'AREA': 'area_code',
    'AREA NAME': 'area_name',
    'Rpt Dist No': 'district',
    'Part 1-2': 'crime_severity',
    'Crm Cd': 'crime_code',
    'Crm Cd Desc': 'crime_desc',
    'Mocodes': 'crime_mo',
    'Vict Age': 'age_victim',
    'Vict Sex': 'sex_victim',
    'Vict Descent': 'descent_victim',
    'Premis Cd': 'loc_code',
    'Premis Desc': 'loc_desc',
    'Weapon Used Cd': 'weapon_code',
    'Weapon Desc': 'weapon_desc',
    'Status': 'case_status_code',
    'Status Desc': 'case_status_desc',
    'Crm Cd 1': 'crime_code_1',
    'Crm Cd 2': 'crime_code_2',
    'Crm Cd 3': 'crime_code_3',
    'Crm Cd 4': 'crime_code_4',
    'LOCATION': 'location',
    'Cross Street': 'cross_street',
    'LAT': 'latitude',
    'LON': 'longitude'
}

# Renombrar las columnas
df.rename(columns=rename_columns, inplace=True)

# Confirmar el cambio
df.head()

,id_report,date_report,date_ocurrance,time_ocurrance,area_code,area_name,district,crime_severity,crime_code,crime_desc,...,case_status_code,case_status_desc,crime_code_1,crime_code_2,crime_code_3,crime_code_4,location,cross_street,latitude,longitude
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [133]:
# Variables a explorar
columns_to_explore = [
    'area_code',
    'area_name',
    'district',
    'crime_severity',
    'crime_code',
    'crime_desc',
    'sex_victim',
    'descent_victim',
    'loc_code',
    'loc_desc',
    'weapon_code',
    'weapon_desc',
    'case_status_code',
    'case_status_desc'
]

# Mostrar TODOS los valores √∫nicos para esas columnas
for col in columns_to_explore:
    if col in df.columns:
        print(f"--- {col} ---")
        print(sorted(df[col].dropna().unique()))
        print("\n")
    else:
        print(f"Column {col} not found in the dataframe.\n")

--- area_code ---
[np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(6), np.int64(7), np.int64(8), np.int64(9), np.int64(10), np.int64(11), np.int64(12), np.int64(13), np.int64(14), np.int64(15), np.int64(16), np.int64(17), np.int64(18), np.int64(19), np.int64(20), np.int64(21)]


--- area_name ---
['77th Street', 'Central', 'Devonshire', 'Foothill', 'Harbor', 'Hollenbeck', 'Hollywood', 'Mission', 'N Hollywood', 'Newton', 'Northeast', 'Olympic', 'Pacific', 'Rampart', 'Southeast', 'Southwest', 'Topanga', 'Van Nuys', 'West LA', 'West Valley', 'Wilshire']


--- district ---
[np.int64(101), np.int64(105), np.int64(109), np.int64(111), np.int64(112), np.int64(118), np.int64(119), np.int64(121), np.int64(122), np.int64(123), np.int64(124), np.int64(127), np.int64(128), np.int64(129), np.int64(131), np.int64(132), np.int64(133), np.int64(134), np.int64(135), np.int64(138), np.int64(139), np.int64(141), np.int64(142), np.int64(143), np.int64(144), np.int64(145), np.int64(146), np.int64(147), np.int64(148), np.int64(151), np.int64(152), np.int64(153), np.int64(154), np.int64(155), np.int64(156), np.int64(157), np.int64(158), np.int64(159), np.int64(161), np.int64(162), np.int64(163), np.int64(164), np.int64(165), np.int64(166), np.int64(171), np.int64(174), np.int64(176), np.int64(181), np.int64(182), np.int64(185), np.int64(191), np.int64(192), np.int64(195), np.int64(201), np.int64(202), np.int64(203), np.int64(204), np.int64(205), np.int64(211), np.int64(212), np.int64(213), np.int64(215), np.int64(216), np.int64(217), np.int64(218), np.int64(219), np.int64(221), np.int64(224), np.int64(225), np.int64(226), np.int64(231), np.int64(233), np.int64(234), np.int64(235), np.int64(236), np.int64(237), np.int64(238), np.int64(239), np.int64(241), np.int64(242), np.int64(244), np.int64(245), np.int64(246), np.int64(247), np.int64(248), np.int64(249), np.int64(251), np.int64(252), np.int64(254), np.int64(256), np.int64(257), np.int64(261), np.int64(265), np.int64(266), np.int64(267), np.int64(269), np.int64(271), np.int64(275), np.int64(277), np.int64(279), np.int64(281), np.int64(285), np.int64(289), np.int64(291), np.int64(292), np.int64(295), np.int64(299), np.int64(301), np.int64(303), np.int64(305), np.int64(307), np.int64(308), np.int64(309), np.int64(311), np.int64(312), np.int64(313), np.int64(314), np.int64(315), np.int64(316), np.int64(317), np.int64(318), np.int64(319), np.int64(321), np.int64(325), np.int64(326), np.int64(327), np.int64(328), np.int64(329), np.int64(331), np.int64(332), np.int64(333), np.int64(334), np.int64(335), np.int64(336), np.int64(337), np.int64(338), np.int64(341), np.int64(343), np.int64(351), np.int64(353), np.int64(354), np.int64(355), np.int64(356), np.int64(357), np.int64(358), np.int64(359), np.int64(361), np.int64(362), np.int64(363), np.int64(373), np.int64(374), np.int64(375), np.int64(376), np.int64(377), np.int64(378), np.int64(379), np.int64(391), np.int64(392), np.int64(393), np.int64(394), np.int64(395), np.int64(396), np.int64(397), np.int64(398), np.int64(399), np.int64(401), np.int64(402), np.int64(403), np.int64(404), np.int64(405), np.int64(406), np.int64(407), np.int64(408), np.int64(409), np.int64(411), np.int64(412), np.int64(413), np.int64(414), np.int64(415), np.int64(416), np.int64(417), np.int64(418), np.int64(421), np.int64(422), np.int64(423), np.int64(424), np.int64(426), np.int64(427), np.int64(428), np.int64(429), np.int64(437), np.int64(438), np.int64(439), np.int64(441), np.int64(442), np.int64(443), np.int64(445), np.int64(448), np.int64(449), np.int64(451), np.int64(452), np.int64(453), np.int64(454), np.int64(455), np.int64(456), np.int64(457), np.int64(459), np.int64(461), np.int64(462), np.int64(463), np.int64(464), np.int64(465), np.int64(466), np.int64(467), np.int64(468), np.int64(469), np.int64(471), np.int64(473), np.int64(477), np.int64(478), np.int64(479), np.int64(483), np.int64(487), np.int64(488), np.int64(489), np.int64(491), np.int64(497), np.int64(499), np.int64(500), np.int64(501), np.int64(502), np.int64(503), np.int64(504), np.int64(505), np.int64(506), np.int64(507), np.int64(508), np.int64(509), np.int64(511), np.int64(512), np.int64(513), np.int64(514), np.int64(515), np.int64(516), np.int64(517), np.int64(518), np.int64(519), np.int64(521), np.int64(522), np.int64(523), np.int64(524), np.int64(525), np.int64(526), np.int64(527), np.int64(528), np.int64(529), np.int64(531), np.int64(532), np.int64(541), np.int64(551), np.int64(555), np.int64(557), np.int64(558), np.int64(559), np.int64(561), np.int64(562), np.int64(563), np.int64(564), np.int64(565), np.int64(566), np.int64(567), np.int64(569), np.int64(581), np.int64(583), np.int64(584), np.int64(585), np.int64(587), np.int64(589), np.int64(599), np.int64(600), np.int64(615), np.int64(621), np.int64(622), np.int64(625), np.int64(626), np.int64(627), np.int64(628), np.int64(629), np.int64(631), np.int64(632), np.int64(635), np.int64(636), np.int64(637), np.int64(638), np.int64(639), np.int64(642), np.int64(643), np.int64(644), np.int64(645), np.int64(646), np.int64(647), np.int64(648), np.int64(649), np.int64(656), np.int64(657), np.int64(659), np.int64(663), np.int64(665), np.int64(666), np.int64(667), np.int64(668), np.int64(669), np.int64(672), np.int64(676), np.int64(677), np.int64(678), np.int64(679), np.int64(696), np.int64(697), np.int64(699), np.int64(700), np.int64(701), np.int64(702), np.int64(704), np.int64(705), np.int64(706), np.int64(709), np.int64(711), np.int64(713), np.int64(714), np.int64(715), np.int64(716), np.int64(717), np.int64(719), np.int64(721), np.int64(722), np.int64(723), np.int64(724), np.int64(725), np.int64(726), np.int64(727), np.int64(728), np.int64(729), np.int64(732), np.int64(733), np.int64(734), np.int64(735), np.int64(736), np.int64(737), np.int64(738), np.int64(739), np.int64(742), np.int64(743), np.int64(745), np.int64(747), np.int64(749), np.int64(752), np.int64(753), np.int64(755), np.int64(756), np.int64(758), np.int64(759), np.int64(762), np.int64(763), np.int64(764), np.int64(765), np.int64(766), np.int64(767), np.int64(768), np.int64(769), np.int64(771), np.int64(772), np.int64(773), np.int64(774), np.int64(775), np.int64(776), np.int64(777), np.int64(778), np.int64(779), np.int64(782), np.int64(783), np.int64(784), np.int64(785), np.int64(787), np.int64(788), np.int64(789), np.int64(800), np.int64(801), np.int64(802), np.int64(803), np.int64(804), np.int64(805), np.int64(806), np.int64(807), np.int64(808), np.int64(809), np.int64(811), np.int64(812), np.int64(813), np.int64(814), np.int64(815), np.int64(816), np.int64(817), np.int64(818), np.int64(819), np.int64(821), np.int64(822), np.int64(823), np.int64(824), np.int64(825), np.int64(826), np.int64(827), np.int64(828), np.int64(829), np.int64(831), np.int64(832), np.int64(833), np.int64(834), np.int64(835), np.int64(836), np.int64(837), np.int64(838), np.int64(839), np.int64(841), np.int64(842), np.int64(843), np.int64(847), np.int64(848), np.int64(849), np.int64(851), np.int64(852), np.int64(853), np.int64(854), np.int64(855), np.int64(857), np.int64(858), np.int64(859), np.int64(861), np.int64(871), np.int64(872), np.int64(881), np.int64(882), np.int64(883), np.int64(884), np.int64(885), np.int64(886), np.int64(887), np.int64(889), np.int64(891), np.int64(892), np.int64(893), np.int64(895), np.int64(896), np.int64(897), np.int64(898), np.int64(899), np.int64(900), np.int64(901), np.int64(902), np.int64(904), np.int64(905), np.int64(906), np.int64(909), np.int64(911), np.int64(914), np.int64(915), np.int64(916), np.int64(917), np.int64(919), np.int64(921), np.int64(922), np.int64(923), np.int64(926), np.int64(927), np.int64(929), np.int64(931), np.int64(932), np.int64(933), np.int64(934), np.int64(935), np.int64(936), np.int64(937), np.int64(938), np.int64(939), np.int64(941), np.int64(942), np.int64(943), np.int64(944), np.int64(945), np.int64(946), np.int64(948), np.int64(952), np.int64(955), np.int64(957), np.int64(958), np.int64(961), np.int64(963), np.int64(964), np.int64(966), np.int64(969), np.int64(971), np.int64(974), np.int64(976), np.int64(979), np.int64(981), np.int64(983), np.int64(984), np.int64(985), np.int64(989), np.int64(991), np.int64(994), np.int64(995), np.int64(998), np.int64(1000), np.int64(1001), np.int64(1003), np.int64(1004), np.int64(1005), np.int64(1006), np.int64(1007), np.int64(1008), np.int64(1009), np.int64(1011), np.int64(1012), np.int64(1013), np.int64(1014), np.int64(1015), np.int64(1016), np.int64(1017), np.int64(1018), np.int64(1019), np.int64(1021), np.int64(1022), np.int64(1023), np.int64(1024), np.int64(1025), np.int64(1027), np.int64(1028), np.int64(1029), np.int64(1031), np.int64(1032), np.int64(1033), np.int64(1034), np.int64(1035), np.int64(1036), np.int64(1037), np.int64(1039), np.int64(1041), np.int64(1042), np.int64(1043), np.int64(1044), np.int64(1045), np.int64(1046), np.int64(1047), np.int64(1048), np.int64(1049), np.int64(1053), np.int64(1061), np.int64(1063), np.int64(1065), np.int64(1067), np.int64(1068), np.int64(1075), np.int64(1077), np.int64(1078), np.int64(1079), np.int64(1083), np.int64(1087), np.int64(1088), np.int64(1089), np.int64(1091), np.int64(1094), np.int64(1097), np.int64(1098), np.int64(1099), np.int64(1100), np.int64(1101), np.int64(1102), np.int64(1105), np.int64(1107), np.int64(1109), np.int64(1112), np.int64(1113), np.int64(1115), np.int64(1116), np.int64(1117), np.int64(1118), np.int64(1119), np.int64(1122), np.int64(1123), np.int64(1124), np.int64(1125), np.int64(1126), np.int64(1127), np.int64(1128), np.int64(1129), np.int64(1132), np.int64(1133), np.int64(1134), np.int64(1135), np.int64(1136), np.int64(1137), np.int64(1138), np.int64(1139), np.int64(1141), np.int64(1142), np.int64(1143), np.int64(1144), np.int64(1145), np.int64(1146), np.int64(1147), np.int64(1148), np.int64(1149), np.int64(1151), np.int64(1152), np.int64(1153), np.int64(1157), np.int64(1158), np.int64(1159), np.int64(1161), np.int64(1162), np.int64(1163), np.int64(1169), np.int64(1171), np.int64(1172), np.int64(1173), np.int64(1174), np.int64(1175), np.int64(1176), np.int64(1177), np.int64(1178), np.int64(1179), np.int64(1181), np.int64(1183), np.int64(1184), np.int64(1185), np.int64(1186), np.int64(1189), np.int64(1195), np.int64(1199), np.int64(1200), np.int64(1203), np.int64(1204), np.int64(1205), np.int64(1207), np.int64(1208), np.int64(1209), np.int64(1211), np.int64(1213), np.int64(1215), np.int64(1218), np.int64(1219), np.int64(1231), np.int64(1232), np.int64(1233), np.int64(1235), np.int64(1239), np.int64(1241), np.int64(1242), np.int64(1243), np.int64(1245), np.int64(1248), np.int64(1249), np.int64(1251), np.int64(1252), np.int64(1253), np.int64(1255), np.int64(1256), np.int64(1257), np.int64(1258), np.int64(1259), np.int64(1263), np.int64(1265), np.int64(1266), np.int64(1267), np.int64(1268), np.int64(1269), np.int64(1273), np.int64(1283), np.int64(1293), np.int64(1300), np.int64(1303), np.int64(1307), np.int64(1309), np.int64(1311), np.int64(1313), np.int64(1317), np.int64(1321), np.int64(1322), np.int64(1323), np.int64(1324), np.int64(1325), np.int64(1326), np.int64(1327), np.int64(1331), np.int64(1333), np.int64(1341), np.int64(1342), np.int64(1343), np.int64(1344), np.int64(1345), np.int64(1346), np.int64(1347), np.int64(1351), np.int64(1352), np.int64(1353), np.int64(1354), np.int64(1361), np.int64(1362), np.int64(1363), np.int64(1364), np.int64(1365), np.int64(1367), np.int64(1371), np.int64(1372), np.int64(1373), np.int64(1375), np.int64(1377), np.int64(1381), np.int64(1383), np.int64(1385), np.int64(1391), np.int64(1393), np.int64(1394), np.int64(1395), np.int64(1400), np.int64(1401), np.int64(1402), np.int64(1403), np.int64(1405), np.int64(1406), np.int64(1407), np.int64(1408), np.int64(1409), np.int64(1411), np.int64(1412), np.int64(1413), np.int64(1414), np.int64(1415), np.int64(1416), np.int64(1424), np.int64(1425), np.int64(1426), np.int64(1427), np.int64(1428), np.int64(1431), np.int64(1432), np.int64(1433), np.int64(1434), np.int64(1435), np.int64(1436), np.int64(1437), np.int64(1438), np.int64(1441), np.int64(1443), np.int64(1444), np.int64(1445), np.int64(1446), np.int64(1449), np.int64(1451), np.int64(1452), np.int64(1453), np.int64(1454), np.int64(1455), np.int64(1456), np.int64(1457), np.int64(1458), np.int64(1459), np.int64(1462), np.int64(1463), np.int64(1464), np.int64(1465), np.int64(1466), np.int64(1467), np.int64(1468), np.int64(1469), np.int64(1471), np.int64(1472), np.int64(1473), np.int64(1474), np.int64(1475), np.int64(1476), np.int64(1477), np.int64(1479), np.int64(1483), np.int64(1484), np.int64(1485), np.int64(1486), np.int64(1487), np.int64(1488), np.int64(1489), np.int64(1491), np.int64(1492), np.int64(1493), np.int64(1494), np.int64(1495), np.int64(1496), np.int64(1497), np.int64(1498), np.int64(1499), np.int64(1501), np.int64(1502), np.int64(1503), np.int64(1504), np.int64(1505), np.int64(1506), np.int64(1508), np.int64(1509), np.int64(1511), np.int64(1512), np.int64(1513), np.int64(1514), np.int64(1515), np.int64(1516), np.int64(1517), np.int64(1519), np.int64(1521), np.int64(1522), np.int64(1523), np.int64(1524), np.int64(1525), np.int64(1526), np.int64(1527), np.int64(1529), np.int64(1531), np.int64(1532), np.int64(1533), np.int64(1535), np.int64(1537), np.int64(1538), np.int64(1539), np.int64(1541), np.int64(1542), np.int64(1543), np.int64(1544), np.int64(1545), np.int64(1546), np.int64(1547), np.int64(1548), np.int64(1549), np.int64(1551), np.int64(1553), np.int64(1555), np.int64(1557), np.int64(1558), np.int64(1559), np.int64(1562), np.int64(1563), np.int64(1565), np.int64(1566), np.int64(1567), np.int64(1569), np.int64(1581), np.int64(1583), np.int64(1585), np.int64(1586), np.int64(1587), np.int64(1588), np.int64(1589), np.int64(1591), np.int64(1595), np.int64(1596), np.int64(1599), np.int64(1600), np.int64(1601), np.int64(1602), np.int64(1603), np.int64(1605), np.int64(1606), np.int64(1608), np.int64(1611), np.int64(1612), np.int64(1613), np.int64(1614), np.int64(1615), np.int64(1617), np.int64(1618), np.int64(1619), np.int64(1621), np.int64(1622), np.int64(1623), np.int64(1633), np.int64(1634), np.int64(1635), np.int64(1636), np.int64(1637), np.int64(1638), np.int64(1639), np.int64(1641), np.int64(1642), np.int64(1643), np.int64(1645), np.int64(1646), np.int64(1648), np.int64(1651), np.int64(1653), np.int64(1654), np.int64(1655), np.int64(1656), np.int64(1657), np.int64(1658), np.int64(1659), np.int64(1661), np.int64(1663), np.int64(1664), np.int64(1665), np.int64(1666), np.int64(1667), np.int64(1668), np.int64(1669), np.int64(1671), np.int64(1672), np.int64(1673), np.int64(1675), np.int64(1676), np.int64(1677), np.int64(1678), np.int64(1679), np.int64(1681), np.int64(1682), np.int64(1683), np.int64(1684), np.int64(1685), np.int64(1686), np.int64(1687), np.int64(1689), np.int64(1691), np.int64(1693), np.int64(1695), np.int64(1698), np.int64(1699), np.int64(1700), np.int64(1701), np.int64(1703), np.int64(1705), np.int64(1707), np.int64(1708), np.int64(1709), np.int64(1712), np.int64(1713), np.int64(1714), np.int64(1715), np.int64(1716), np.int64(1717), np.int64(1718), np.int64(1719), np.int64(1721), np.int64(1722), np.int64(1723), np.int64(1725), np.int64(1727), np.int64(1728), np.int64(1729), np.int64(1732), np.int64(1735), np.int64(1736), np.int64(1737), np.int64(1738), np.int64(1739), np.int64(1743), np.int64(1745), np.int64(1747), np.int64(1749), np.int64(1751), np.int64(1752), np.int64(1753), np.int64(1754), np.int64(1755), np.int64(1756), np.int64(1757), np.int64(1758), np.int64(1759), np.int64(1761), np.int64(1762), np.int64(1763), np.int64(1764), np.int64(1765), np.int64(1766), np.int64(1767), np.int64(1768), np.int64(1771), np.int64(1772), np.int64(1773), np.int64(1774), np.int64(1775), np.int64(1776), np.int64(1777), np.int64(1778), np.int64(1779), np.int64(1781), np.int64(1782), np.int64(1783), np.int64(1784), np.int64(1785), np.int64(1787), np.int64(1788), np.int64(1791), np.int64(1792), np.int64(1793), np.int64(1794), np.int64(1795), np.int64(1796), np.int64(1797), np.int64(1798), np.int64(1799), np.int64(1801), np.int64(1802), np.int64(1803), np.int64(1804), np.int64(1805), np.int64(1806), np.int64(1821), np.int64(1822), np.int64(1823), np.int64(1824), np.int64(1826), np.int64(1827), np.int64(1829), np.int64(1831), np.int64(1832), np.int64(1834), np.int64(1835), np.int64(1836), np.int64(1837), np.int64(1838), np.int64(1839), np.int64(1841), np.int64(1842), np.int64(1844), np.int64(1846), np.int64(1849), np.int64(1851), np.int64(1861), np.int64(1862), np.int64(1863), np.int64(1864), np.int64(1871), np.int64(1881), np.int64(1891), np.int64(1901), np.int64(1902), np.int64(1903), np.int64(1904), np.int64(1905), np.int64(1906), np.int64(1907), np.int64(1908), np.int64(1909), np.int64(1911), np.int64(1912), np.int64(1913), np.int64(1915), np.int64(1916), np.int64(1917), np.int64(1918), np.int64(1919), np.int64(1921), np.int64(1924), np.int64(1925), np.int64(1931), np.int64(1934), np.int64(1935), np.int64(1936), np.int64(1941), np.int64(1942), np.int64(1943), np.int64(1944), np.int64(1945), np.int64(1951), np.int64(1952), np.int64(1954), np.int64(1955), np.int64(1956), np.int64(1958), np.int64(1959), np.int64(1961), np.int64(1962), np.int64(1963), np.int64(1964), np.int64(1966), np.int64(1967), np.int64(1969), np.int64(1971), np.int64(1972), np.int64(1974), np.int64(1975), np.int64(1977), np.int64(1979), np.int64(1981), np.int64(1982), np.int64(1983), np.int64(1984), np.int64(1985), np.int64(1986), np.int64(1987), np.int64(1988), np.int64(1989), np.int64(1991), np.int64(1993), np.int64(1994), np.int64(1995), np.int64(1996), np.int64(1998), np.int64(1999), np.int64(2001), np.int64(2002), np.int64(2004), np.int64(2005), np.int64(2011), np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2019), np.int64(2021), np.int64(2022), np.int64(2023), np.int64(2024), np.int64(2025), np.int64(2026), np.int64(2027), np.int64(2029), np.int64(2031), np.int64(2033), np.int64(2034), np.int64(2035), np.int64(2036), np.int64(2038), np.int64(2039), np.int64(2041), np.int64(2042), np.int64(2044), np.int64(2045), np.int64(2046), np.int64(2049), np.int64(2053), np.int64(2054), np.int64(2055), np.int64(2056), np.int64(2058), np.int64(2062), np.int64(2063), np.int64(2064), np.int64(2069), np.int64(2071), np.int64(2073), np.int64(2074), np.int64(2076), np.int64(2079), np.int64(2081), np.int64(2083), np.int64(2088), np.int64(2091), np.int64(2093), np.int64(2097), np.int64(2099), np.int64(2101), np.int64(2102), np.int64(2103), np.int64(2104), np.int64(2105), np.int64(2106), np.int64(2107), np.int64(2111), np.int64(2113), np.int64(2114), np.int64(2115), np.int64(2118), np.int64(2125), np.int64(2126), np.int64(2128), np.int64(2129), np.int64(2131), np.int64(2132), np.int64(2133), np.int64(2134), np.int64(2136), np.int64(2137), np.int64(2138), np.int64(2139), np.int64(2141), np.int64(2142), np.int64(2143), np.int64(2144), np.int64(2145), np.int64(2146), np.int64(2147), np.int64(2148), np.int64(2149), np.int64(2155), np.int64(2156), np.int64(2157), np.int64(2158), np.int64(2159), np.int64(2161), np.int64(2162), np.int64(2169), np.int64(2172), np.int64(2173), np.int64(2175), np.int64(2177), np.int64(2183), np.int64(2185), np.int64(2187), np.int64(2189), np.int64(2196), np.int64(2197), np.int64(2198), np.int64(2199)]


--- crime_severity ---
[np.int64(1), np.int64(2)]


--- crime_code ---

## **Vamos a trabajar en investigar la relaci√≥n de c√≥digos varios en el dataset. **

# üìÑ Unique Values Summary

## area_code
`1, 2, 3, ..., 21`

## area_name
`'77th Street', 'Central', 'Devonshire', 'Foothill', 'Harbor', 'Hollenbeck', 'Hollywood', 'Mission', 'N Hollywood', 'Newton', 'Northeast', 'Olympic', 'Pacific', 'Rampart', 'Southeast', 'Southwest', 'Topanga', 'Van Nuys', 'West LA', 'West Valley', 'Wilshire'`

## district
`101, 105, 109, 111, ..., 2199`  
(Muchos valores √∫nicos de distrito, c√≥digos de zonas espec√≠ficas)

## crime_severity
`1, 2`

## crime_code
`110, 113, 121, 122, 210, 220, 230, 231, ..., 956`

## crime_desc
`'ARSON', 'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER', 'BATTERY - SIMPLE ASSAULT', 'BIKE - STOLEN', 'BURGLARY', 'BURGLARY FROM VEHICLE', ..., 'WEAPONS POSSESSION/BOMBING'`
(M√°s de 100 tipos de cr√≠menes diferentes)

## crime_mo
`C√≥digos tipo '0344 1822 1402', '0930', '0913 2024' etc.`  
(Modus Operandi combinados por c√≥digo)

## sex_victim
`'-', 'F', 'H', 'M', 'X'`
(Indica sexo: Femenino, Masculino, Indeterminado, No reportado)

## descent_victim
`'-', 'A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'O', 'P', 'S', 'U', 'V', 'W', 'X', 'Z'`
(Origen √©tnico de la v√≠ctima)

## loc_code
`101.0, 102.0, 103.0, ..., 976.0`
(Muchos c√≥digos de localizaci√≥n)

## loc_desc
`'STREET', 'BUS STOP', 'PARKING LOT', 'SINGLE FAMILY DWELLING', 'SCHOOL', 'HOSPITAL', 'HOTEL', 'MARKET', ..., 'YARD (RESIDENTIAL/BUSINESS)'`
(Lugares donde ocurrieron los cr√≠menes)

## weapon_code
`101.0, 102.0, ..., 516.0`

## weapon_desc
`'HAND GUN', 'KNIFE WITH BLADE 6INCHES OR LESS', 'STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)', 'UNKNOWN FIREARM', 'VERBAL THREAT', ...`
(Descripci√≥n de armas usadas)

## case_status_code
`'AA', 'AO', 'CC', 'IC', 'JA', 'JO'`
(C√≥digos de estatus del caso)

## case_status_desc
`'Adult Arrest', 'Adult Other', 'Invest Cont', 'Juv Arrest', 'Juv Other', 'UNK'`
(Descripci√≥n del estatus del caso)

## 1. Investigaci√≥n de las √°reas.

In [134]:
# Primero aseguramos que district sea string para extraer area_code
df['district'] = df['district'].astype(str)

# Sacamos el primer d√≠gito como √°rea (puedes usar 1 o 2 d√≠gitos seg√∫n precisi√≥n)
df['area_code'] = df['district'].str[0].astype(int)

# Mapeo de area_code a area_name
area_mapping = {
    1: '77th Street',
    2: 'Central',
    3: 'Devonshire',
    4: 'Foothill',
    5: 'Harbor',
    6: 'Hollenbeck',
    7: 'Hollywood',
    8: 'Mission',
    9: 'N Hollywood',
    10: 'Newton',
    11: 'Northeast',
    12: 'Olympic',
    13: 'Pacific',
    14: 'Rampart',
    15: 'Southeast',
    16: 'Southwest',
    17: 'Topanga',
    18: 'Van Nuys',
    19: 'West LA',
    20: 'West Valley',
    21: 'Wilshire'
}

# Asignamos nombre al √°rea
df['area_name'] = df['area_code'].map(area_mapping)

# Verificamos si el mapeo est√° correcto
print(df[['district', 'area_code', 'area_name']].head())

# Contar registros por area_name
print(df['area_name'].value_counts())

  district  area_code    area_name
0      784          7    Hollywood
1      182          1  77th Street
2      356          3   Devonshire
3      964          9  N Hollywood
4      666          6   Hollenbeck
area_name
77th Street    531859
Central        135803
Devonshire      56259
Hollenbeck      51510
Hollywood       47272
Mission         44848
N Hollywood     42059
Harbor          40603
Foothill        36287
Name: count, dtype: int64

In [135]:

# Definimos el listado completo de √°reas (en el orden correcto)
area_names = [
    '77th Street', 'Central', 'Devonshire', 'Foothill', 'Harbor', 'Hollenbeck',
    'Hollywood', 'Mission', 'N Hollywood', 'Newton', 'Northeast', 'Olympic',
    'Pacific', 'Rampart', 'Southeast', 'Southwest', 'Topanga', 'Van Nuys',
    'West LA', 'West Valley', 'Wilshire'
]

# Hacemos el conteo de registros por area_name
area_counts = df['area_name'].value_counts()

# Aseguramos que todos los nombres est√©n incluidos (incluso los que faltan)
area_counts = area_counts.reindex(area_names, fill_value=0)

# Ahora, buscamos las √°reas con 0 cr√≠menes
areas_sin_crimen = area_counts[area_counts == 0]

# Mostrar √°reas sin cr√≠menes
print("√Åreas donde no hubo cr√≠menes registrados:")
print(areas_sin_crimen)

√Åreas donde no hubo cr√≠menes registrados:
area_name
Newton         0
Northeast      0
Olympic        0
Pacific        0
Rampart        0
Southeast      0
Southwest      0
Topanga        0
Van Nuys       0
West LA        0
West Valley    0
Wilshire       0
Name: count, dtype: int64

In [136]:
# Definimos las 21 √°reas oficiales
area_names = [
    '77th Street', 'Central', 'Devonshire', 'Foothill', 'Harbor', 'Hollenbeck',
    'Hollywood', 'Mission', 'N Hollywood', 'Newton', 'Northeast', 'Olympic',
    'Pacific', 'Rampart', 'Southeast', 'Southwest', 'Topanga', 'Van Nuys',
    'West LA', 'West Valley', 'Wilshire'
]

# 1. Conteo de cr√≠menes por √°rea
area_counts = df['area_name'].value_counts()

# 2. Asegurarnos que todas las √°reas est√©n (rellenar con 0 si no existen)
area_counts = area_counts.reindex(area_names, fill_value=0)

# 3. Detectar √°reas sin cr√≠menes
areas_sin_crimen = area_counts[area_counts == 0].index.tolist()

print("√Åreas donde no hubo cr√≠menes:")
print(areas_sin_crimen)

# 4. Filtrar el df para filas con esas √°reas (deber√≠a estar vac√≠o, o muy peque√±o si algo raro pas√≥)
df_sin_crimenes = df[df['area_name'].isin(areas_sin_crimen)]

# 5. Mostrar las filas
print(df_sin_crimenes)

√Åreas donde no hubo cr√≠menes:
['Newton', 'Northeast', 'Olympic', 'Pacific', 'Rampart', 'Southeast', 'Southwest', 'Topanga', 'Van Nuys', 'West LA', 'West Valley', 'Wilshire']
Empty DataFrame
Columns: [id_report, date_report, date_ocurrance, time_ocurrance, area_code, area_name, district, crime_severity, crime_code, crime_desc, crime_mo, age_victim, sex_victim, descent_victim, loc_code, loc_desc, weapon_code, weapon_desc, case_status_code, case_status_desc, crime_code_1, crime_code_2, crime_code_3, crime_code_4, location, cross_street, latitude, longitude]
Index: []

[0 rows x 28 columns]

Resumen:
9 √°reas s√≠ tienen cr√≠menes (las que viste antes: 77th Street, Central, Devonshire, etc.).

12 √°reas no tienen cr√≠menes en tus datos actuales.

No hay errores de mapeo en district, area_code ni area_name.

## 2. Investigaci√≥n Distritos.

In [137]:
# Mostrar los valores √∫nicos de la columna 'district'
if 'district' in df.columns:
    print("--- district ---")
    print(sorted(df['district'].dropna().unique()))
    print("\n")
else:
    print("Column 'district' not found in the dataframe.\n")

--- district ---
['1000', '1001', '1003', '1004', '1005', '1006', '1007', '1008', '1009', '101', '1011', '1012', '1013', '1014', '1015', '1016', '1017', '1018', '1019', '1021', '1022', '1023', '1024', '1025', '1027', '1028', '1029', '1031', '1032', '1033', '1034', '1035', '1036', '1037', '1039', '1041', '1042', '1043', '1044', '1045', '1046', '1047', '1048', '1049', '105', '1053', '1061', '1063', '1065', '1067', '1068', '1075', '1077', '1078', '1079', '1083', '1087', '1088', '1089', '109', '1091', '1094', '1097', '1098', '1099', '1100', '1101', '1102', '1105', '1107', '1109', '111', '1112', '1113', '1115', '1116', '1117', '1118', '1119', '112', '1122', '1123', '1124', '1125', '1126', '1127', '1128', '1129', '1132', '1133', '1134', '1135', '1136', '1137', '1138', '1139', '1141', '1142', '1143', '1144', '1145', '1146', '1147', '1148', '1149', '1151', '1152', '1153', '1157', '1158', '1159', '1161', '1162', '1163', '1169', '1171', '1172', '1173', '1174', '1175', '1176', '1177', '1178', '1179', '118', '1181', '1183', '1184', '1185', '1186', '1189', '119', '1195', '1199', '1200', '1203', '1204', '1205', '1207', '1208', '1209', '121', '1211', '1213', '1215', '1218', '1219', '122', '123', '1231', '1232', '1233', '1235', '1239', '124', '1241', '1242', '1243', '1245', '1248', '1249', '1251', '1252', '1253', '1255', '1256', '1257', '1258', '1259', '1263', '1265', '1266', '1267', '1268', '1269', '127', '1273', '128', '1283', '129', '1293', '1300', '1303', '1307', '1309', '131', '1311', '1313', '1317', '132', '1321', '1322', '1323', '1324', '1325', '1326', '1327', '133', '1331', '1333', '134', '1341', '1342', '1343', '1344', '1345', '1346', '1347', '135', '1351', '1352', '1353', '1354', '1361', '1362', '1363', '1364', '1365', '1367', '1371', '1372', '1373', '1375', '1377', '138', '1381', '1383', '1385', '139', '1391', '1393', '1394', '1395', '1400', '1401', '1402', '1403', '1405', '1406', '1407', '1408', '1409', '141', '1411', '1412', '1413', '1414', '1415', '1416', '142', '1424', '1425', '1426', '1427', '1428', '143', '1431', '1432', '1433', '1434', '1435', '1436', '1437', '1438', '144', '1441', '1443', '1444', '1445', '1446', '1449', '145', '1451', '1452', '1453', '1454', '1455', '1456', '1457', '1458', '1459', '146', '1462', '1463', '1464', '1465', '1466', '1467', '1468', '1469', '147', '1471', '1472', '1473', '1474', '1475', '1476', '1477', '1479', '148', '1483', '1484', '1485', '1486', '1487', '1488', '1489', '1491', '1492', '1493', '1494', '1495', '1496', '1497', '1498', '1499', '1501', '1502', '1503', '1504', '1505', '1506', '1508', '1509', '151', '1511', '1512', '1513', '1514', '1515', '1516', '1517', '1519', '152', '1521', '1522', '1523', '1524', '1525', '1526', '1527', '1529', '153', '1531', '1532', '1533', '1535', '1537', '1538', '1539', '154', '1541', '1542', '1543', '1544', '1545', '1546', '1547', '1548', '1549', '155', '1551', '1553', '1555', '1557', '1558', '1559', '156', '1562', '1563', '1565', '1566', '1567', '1569', '157', '158', '1581', '1583', '1585', '1586', '1587', '1588', '1589', '159', '1591', '1595', '1596', '1599', '1600', '1601', '1602', '1603', '1605', '1606', '1608', '161', '1611', '1612', '1613', '1614', '1615', '1617', '1618', '1619', '162', '1621', '1622', '1623', '163', '1633', '1634', '1635', '1636', '1637', '1638', '1639', '164', '1641', '1642', '1643', '1645', '1646', '1648', '165', '1651', '1653', '1654', '1655', '1656', '1657', '1658', '1659', '166', '1661', '1663', '1664', '1665', '1666', '1667', '1668', '1669', '1671', '1672', '1673', '1675', '1676', '1677', '1678', '1679', '1681', '1682', '1683', '1684', '1685', '1686', '1687', '1689', '1691', '1693', '1695', '1698', '1699', '1700', '1701', '1703', '1705', '1707', '1708', '1709', '171', '1712', '1713', '1714', '1715', '1716', '1717', '1718', '1719', '1721', '1722', '1723', '1725', '1727', '1728', '1729', '1732', '1735', '1736', '1737', '1738', '1739', '174', '1743', '1745', '1747', '1749', '1751', '1752', '1753', '1754', '1755', '1756', '1757', '1758', '1759', '176', '1761', '1762', '1763', '1764', '1765', '1766', '1767', '1768', '1771', '1772', '1773', '1774', '1775', '1776', '1777', '1778', '1779', '1781', '1782', '1783', '1784', '1785', '1787', '1788', '1791', '1792', '1793', '1794', '1795', '1796', '1797', '1798', '1799', '1801', '1802', '1803', '1804', '1805', '1806', '181', '182', '1821', '1822', '1823', '1824', '1826', '1827', '1829', '1831', '1832', '1834', '1835', '1836', '1837', '1838', '1839', '1841', '1842', '1844', '1846', '1849', '185', '1851', '1861', '1862', '1863', '1864', '1871', '1881', '1891', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1908', '1909', '191', '1911', '1912', '1913', '1915', '1916', '1917', '1918', '1919', '192', '1921', '1924', '1925', '1931', '1934', '1935', '1936', '1941', '1942', '1943', '1944', '1945', '195', '1951', '1952', '1954', '1955', '1956', '1958', '1959', '1961', '1962', '1963', '1964', '1966', '1967', '1969', '1971', '1972', '1974', '1975', '1977', '1979', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1991', '1993', '1994', '1995', '1996', '1998', '1999', '2001', '2002', '2004', '2005', '201', '2011', '2013', '2014', '2015', '2016', '2017', '2019', '202', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2029', '203', '2031', '2033', '2034', '2035', '2036', '2038', '2039', '204', '2041', '2042', '2044', '2045', '2046', '2049', '205', '2053', '2054', '2055', '2056', '2058', '2062', '2063', '2064', '2069', '2071', '2073', '2074', '2076', '2079', '2081', '2083', '2088', '2091', '2093', '2097', '2099', '2101', '2102', '2103', '2104', '2105', '2106', '2107', '211', '2111', '2113', '2114', '2115', '2118', '212', '2125', '2126', '2128', '2129', '213', '2131', '2132', '2133', '2134', '2136', '2137', '2138', '2139', '2141', '2142', '2143', '2144', '2145', '2146', '2147', '2148', '2149', '215', '2155', '2156', '2157', '2158', '2159', '216', '2161', '2162', '2169', '217', '2172', '2173', '2175', '2177', '218', '2183', '2185', '2187', '2189', '219', '2196', '2197', '2198', '2199', '221', '224', '225', '226', '231', '233', '234', '235', '236', '237', '238', '239', '241', '242', '244', '245', '246', '247', '248', '249', '251', '252', '254', '256', '257', '261', '265', '266', '267', '269', '271', '275', '277', '279', '281', '285', '289', '291', '292', '295', '299', '301', '303', '305', '307', '308', '309', '311', '312', '313', '314', '315', '316', '317', '318', '319', '321', '325', '326', '327', '328', '329', '331', '332', '333', '334', '335', '336', '337', '338', '341', '343', '351', '353', '354', '355', '356', '357', '358', '359', '361', '362', '363', '373', '374', '375', '376', '377', '378', '379', '391', '392', '393', '394', '395', '396', '397', '398', '399', '401', '402', '403', '404', '405', '406', '407', '408', '409', '411', '412', '413', '414', '415', '416', '417', '418', '421', '422', '423', '424', '426', '427', '428', '429', '437', '438', '439', '441', '442', '443', '445', '448', '449', '451', '452', '453', '454', '455', '456', '457', '459', '461', '462', '463', '464', '465', '466', '467', '468', '469', '471', '473', '477', '478', '479', '483', '487', '488', '489', '491', '497', '499', '500', '501', '502', '503', '504', '505', '506', '507', '508', '509', '511', '512', '513', '514', '515', '516', '517', '518', '519', '521', '522', '523', '524', '525', '526', '527', '528', '529', '531', '532', '541', '551', '555', '557', '558', '559', '561', '562', '563', '564', '565', '566', '567', '569', '581', '583', '584', '585', '587', '589', '599', '600', '615', '621', '622', '625', '626', '627', '628', '629', '631', '632', '635', '636', '637', '638', '639', '642', '643', '644', '645', '646', '647', '648', '649', '656', '657', '659', '663', '665', '666', '667', '668', '669', '672', '676', '677', '678', '679', '696', '697', '699', '700', '701', '702', '704', '705', '706', '709', '711', '713', '714', '715', '716', '717', '719', '721', '722', '723', '724', '725', '726', '727', '728', '729', '732', '733', '734', '735', '736', '737', '738', '739', '742', '743', '745', '747', '749', '752', '753', '755', '756', '758', '759', '762', '763', '764', '765', '766', '767', '768', '769', '771', '772', '773', '774', '775', '776', '777', '778', '779', '782', '783', '784', '785', '787', '788', '789', '800', '801', '802', '803', '804', '805', '806', '807', '808', '809', '811', '812', '813', '814', '815', '816', '817', '818', '819', '821', '822', '823', '824', '825', '826', '827', '828', '829', '831', '832', '833', '834', '835', '836', '837', '838', '839', '841', '842', '843', '847', '848', '849', '851', '852', '853', '854', '855', '857', '858', '859', '861', '871', '872', '881', '882', '883', '884', '885', '886', '887', '889', '891', '892', '893', '895', '896', '897', '898', '899', '900', '901', '902', '904', '905', '906', '909', '911', '914', '915', '916', '917', '919', '921', '922', '923', '926', '927', '929', '931', '932', '933', '934', '935', '936', '937', '938', '939', '941', '942', '943', '944', '945', '946', '948', '952', '955', '957', '958', '961', '963', '964', '966', '969', '971', '974', '976', '979', '981', '983', '984', '985', '989', '991', '994', '995', '998']

In [138]:
# Asegurar que 'district' es string para extraer prefijos f√°cilmente
df['district'] = df['district'].astype(str)

# Extraer primer d√≠gito (o primeros dos d√≠gitos si quieres m√°s precisi√≥n)
df['area_code'] = df['district'].str[0].astype(int)

# Opcionalmente, si quieres extraer dos primeros d√≠gitos:
# df['area_code'] = df['district'].str[:2].astype(int)

# Definir los √°reas v√°lidas (1 al 21)
valid_areas = list(range(1, 22))

# Marcar si es un √°rea v√°lida
df['area_valid'] = df['area_code'].isin(valid_areas)

# Verificar resultados
print(df['area_valid'].value_counts())

# Ver ejemplos
print(df[['district', 'area_code', 'area_valid']].head())

area_valid
True    986500
Name: count, dtype: int64
  district  area_code  area_valid
0      784          7        True
1      182          1        True
2      356          3        True
3      964          9        True
4      666          6        True

In [139]:
# Contar cu√°ntos registros NO son v√°lidos
invalid_count = (~df['area_valid']).sum()

print(f"Cantidad de registros con area_valid == False: {invalid_count}")

Cantidad de registros con area_valid == False: 0

## 3. Relaci√≥n entre crime_code y crime_desc

Los crime_code y crime_desc que tienes provienen directamente de los reportes oficiales del LAPD (Los Angeles Police Department).

Cada "crime_code" es un tipo de crimen espec√≠fico, basado en su severidad y en las leyes de California.

No es una clasificaci√≥n inventada, es est√°ndar dentro del departamento, usado para categorizar las denuncias.

In [140]:
# Comprobar si un mismo crime_code tiene varias descripciones
crime_mapping = df[['crime_code', 'crime_desc']].drop_duplicates()

# Verificar duplicados de crime_code
duplicates = crime_mapping.duplicated(subset=['crime_code'], keep=False)
crime_mapping[duplicates]

Empty DataFrame
Columns: [crime_code, crime_desc]
Index: []

Si no salen filas, la relaci√≥n es uno a uno ‚úÖ.

In [141]:
# Crear tabla resumen de c√≥digos de crimen y su descripci√≥n
crime_table = df[['crime_code', 'crime_desc']].drop_duplicates().sort_values('crime_code')

# Mostrar la tabla
crime_table.reset_index(drop=True, inplace=True)
crime_table

     crime_code                                         crime_desc
0           110                                  CRIMINAL HOMICIDE
1           113                            MANSLAUGHTER, NEGLIGENT
2           121                                     RAPE, FORCIBLE
3           122                                    RAPE, ATTEMPTED
4           210                                            ROBBERY
..          ...                                                ...
135         949                                    ILLEGAL DUMPING
136         950  DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $...
137         951  DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 &...
138         954                                       CONTRIBUTING
139         956            LETTERS, LEWD  -  TELEPHONE CALLS, LEWD

[140 rows x 2 columns]

In [20]:
# Pasar a csv la descripcion de los crime_code
#crime_table.to_csv('crime_code_description.csv', index=False)

Vamos a generar una agrupaci√≥n de todos estos delitos en base al standard UCR (Uniform Crime Reporting)

In [142]:
# Suponemos que tienes un DataFrame llamado 'df' con las columnas 'crime_code' y 'crime_desc'

# Mapeo de crime_codes a categor√≠as UCR
ucr_mapping = {
    # Part I - Violent Crimes
    110: 'HOMICIDE',
    113: 'MANSLAUGHTER',
    121: 'RAPE',
    122: 'ATTEMPTED RAPE',
    815: 'SEXUAL PENETRATION',
    820: 'ORAL COPULATION',
    821: 'SODOMY',
    210: 'ROBBERY',
    220: 'ROBBERY ATTEMPTED',
    230: 'AGGRAVATED ASSAULT',
    231: 'AGGRAVATED ASSAULT',
    235: 'AGGRAVATED ASSAULT',
    236: 'AGGRAVATED ASSAULT',
    250: 'AGGRAVATED ASSAULT',
    251: 'AGGRAVATED ASSAULT',
    761: 'AGGRAVATED ASSAULT',
    926: 'AGGRAVATED ASSAULT',
    435: 'SIMPLE ASSAULT',
    436: 'SIMPLE ASSAULT',
    437: 'SIMPLE ASSAULT',
    622: 'SIMPLE ASSAULT',
    623: 'SIMPLE ASSAULT',
    624: 'SIMPLE ASSAULT',
    625: 'SIMPLE ASSAULT',
    626: 'SIMPLE ASSAULT',
    627: 'SIMPLE ASSAULT',
    647: 'SIMPLE ASSAULT',
    763: 'SIMPLE ASSAULT',
    928: 'SIMPLE ASSAULT',
    930: 'SIMPLE ASSAULT',

    # Part I - Property Crimes
    310: 'BURGLARY',
    320: 'BURGLARY',
    510: 'MOTOR VEHICLE THEFT',
    520: 'MOTOR VEHICLE THEFT',
    433: 'MOTOR VEHICLE THEFT',
    330: 'THEFT FROM VEHICLE',
    331: 'THEFT FROM VEHICLE',
    410: 'THEFT FROM VEHICLE',
    420: 'THEFT FROM VEHICLE',
    421: 'THEFT FROM VEHICLE',
    350: 'PERSONAL THEFT',
    351: 'PERSONAL THEFT',
    352: 'PERSONAL THEFT',
    353: 'PERSONAL THEFT',
    450: 'PERSONAL THEFT',
    451: 'PERSONAL THEFT',
    452: 'PERSONAL THEFT',
    453: 'PERSONAL THEFT',
    341: 'OTHER THEFT',
    343: 'OTHER THEFT',
    345: 'OTHER THEFT',
    440: 'OTHER THEFT',
    441: 'OTHER THEFT',
    442: 'OTHER THEFT',
    443: 'OTHER THEFT',
    444: 'OTHER THEFT',
    445: 'OTHER THEFT',
    470: 'OTHER THEFT',
    471: 'OTHER THEFT',
    472: 'OTHER THEFT',
    473: 'OTHER THEFT',
    474: 'OTHER THEFT',
    475: 'OTHER THEFT',
    480: 'OTHER THEFT',
    485: 'OTHER THEFT',
    487: 'OTHER THEFT',
    491: 'OTHER THEFT',

    # Part II - Other Crimes
    500: 'DRUG OFFENSES',
    501: 'DRUG OFFENSES',
    502: 'DRUG OFFENSES',
    503: 'DRUG OFFENSES',
    504: 'DRUG OFFENSES',
    505: 'DRUG OFFENSES',
    506: 'DRUG OFFENSES',
    600: 'SIMPLE ASSAULT',
    601: 'SIMPLE ASSAULT',
    602: 'SIMPLE ASSAULT',
    603: 'SIMPLE ASSAULT',
    700: 'VANDALISM',
    701: 'VANDALISM',
    702: 'WEAPONS OFFENSE',
    703: 'WEAPONS OFFENSE',
    704: 'WEAPONS OFFENSE',
    705: 'WEAPONS OFFENSE',
    800: 'SEX OFFENSES (NON-RAPE)',
    801: 'SEX OFFENSES (NON-RAPE)',
    802: 'SEX OFFENSES (NON-RAPE)',
    803: 'SEX OFFENSES (NON-RAPE)',
    900: 'OTHER OFFENSES',
    901: 'OTHER OFFENSES',
    902: 'OTHER OFFENSES',
    903: 'OTHER OFFENSES',
    904: 'OTHER OFFENSES',
    905: 'OTHER OFFENSES',
    906: 'OTHER OFFENSES',
    907: 'OTHER OFFENSES'
}

# Crear nueva columna 'crime_ucr' basada en el mapping
df['crime_ucr'] = df['crime_code'].map(ucr_mapping).fillna('UNKNOWN')

# Si quieres ver los resultados
print(df[['crime_code', 'crime_desc', 'crime_ucr']].head())

   crime_code                                crime_desc            crime_ucr
0         510                          VEHICLE - STOLEN  MOTOR VEHICLE THEFT
1         330                     BURGLARY FROM VEHICLE   THEFT FROM VEHICLE
2         480                             BIKE - STOLEN          OTHER THEFT
3         343  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)          OTHER THEFT
4         354                         THEFT OF IDENTITY              UNKNOWN

In [143]:
df.columns

Index(['id_report', 'date_report', 'date_ocurrance', 'time_ocurrance',
       'area_code', 'area_name', 'district', 'crime_severity', 'crime_code',
       'crime_desc', 'crime_mo', 'age_victim', 'sex_victim', 'descent_victim',
       'loc_code', 'loc_desc', 'weapon_code', 'weapon_desc',
       'case_status_code', 'case_status_desc', 'crime_code_1', 'crime_code_2',
       'crime_code_3', 'crime_code_4', 'location', 'cross_street', 'latitude',
       'longitude', 'area_valid', 'crime_ucr'],
      dtype='object')

## 4. Investigaci√≥n de Sexo.

In [144]:
# 1. Primero, corregimos H -> M
df['sex_victim'] = df['sex_victim'].replace('H', 'M')

# 2. Definimos la lista v√°lida final
valores_validos_sexo = ['-', 'F', 'M', 'X']

# 3. Comprobamos de nuevo si queda todo limpio
print("Valores √∫nicos en sex_victim despu√©s de la correcci√≥n:")
print(df['sex_victim'].unique())

# 4. Opcional: identificar si queda algo inv√°lido
valores_invalidos = df[~df['sex_victim'].isin(valores_validos_sexo)]

print(f"\nCantidad de registros con sex_victim inv√°lido despu√©s de corregir: {len(valores_invalidos)}")

Valores √∫nicos en sex_victim despu√©s de la correcci√≥n:
['M' 'X' 'F' nan '-']

Cantidad de registros con sex_victim inv√°lido despu√©s de corregir: 139575

In [145]:
# Reemplazar nulos por '-'
df['sex_victim'] = df['sex_victim'].fillna('-')

# Volver a verificar
print("Valores √∫nicos en sex_victim despu√©s de rellenar NaN:")
print(df['sex_victim'].unique())

Valores √∫nicos en sex_victim despu√©s de rellenar NaN:
['M' 'X' 'F' '-']

In [146]:
# 1. Conteo de sex_victim
conteo_sexo = df['sex_victim'].value_counts()

# 2. Porcentaje de sex_victim
porcentaje_sexo = df['sex_victim'].value_counts(normalize=True) * 100

# 3. Mostrar resultados
resultado = pd.DataFrame({
    'Cantidad': conteo_sexo,
    'Porcentaje (%)': porcentaje_sexo.round(2)
})

print(resultado)

            Cantidad  Porcentaje (%)
sex_victim
M             398060           40.35
F             353688           35.85
-             139576           14.15
X              95176            9.65

## 5. Origen

In [147]:
# 1. Definimos los valores v√°lidos
valores_validos_descent = ['-', 'A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'J', 
                           'K', 'L', 'O', 'P', 'S', 'U', 'V', 'W', 'X', 'Z']

# 2. Verificamos los valores √∫nicos en el dataset
print("Valores √∫nicos en descent_victim:")
print(df['descent_victim'].unique())

# 3. Detectamos valores inv√°lidos
valores_invalidos = df[~df['descent_victim'].isin(valores_validos_descent)]

# 4. Mostramos las filas con descent_victim inv√°lido
print("\nFilas con valores inv√°lidos en descent_victim:")
print(valores_invalidos[['id_report', 'descent_victim']])

# 5. Cantidad de registros inv√°lidos
print(f"\nCantidad de registros con descent_victim inv√°lido: {len(valores_invalidos)}")

Valores √∫nicos en descent_victim:
['O' 'X' 'H' 'B' 'W' nan 'A' 'K' 'C' 'J' 'F' 'I' 'V' 'S' 'P' 'Z' 'G' 'U'
 'D' 'L' '-']

Filas con valores inv√°lidos en descent_victim:
        id_report descent_victim
13      221008844            NaN
23      200412582            NaN
26      222106031            NaN
27      200209713            NaN
33      221404806            NaN
...           ...            ...
986479  241107019            NaN
986482  241406728            NaN
986489  241513941            NaN
986496  240710284            NaN
986499  240910892            NaN

[139586 rows x 2 columns]

Cantidad de registros con descent_victim inv√°lido: 139586

In [148]:
# Reemplazar NaN por '-'
df['descent_victim'] = df['descent_victim'].fillna('-')

In [149]:
# 1. Definir los valores v√°lidos de razas
valores_validos_descent = ['-', 'A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'J', 
                           'K', 'L', 'O', 'P', 'S', 'U', 'V', 'W', 'X', 'Z']

# 2. Rellenar nulos si es necesario
df['descent_victim'] = df['descent_victim'].fillna('-')

# 3. Conteo de v√≠ctimas por raza
conteo_raza = df['descent_victim'].value_counts()

# 4. Porcentaje por raza
porcentaje_raza = df['descent_victim'].value_counts(normalize=True) * 100

# 5. Crear el DataFrame resultado
resultado_raza = pd.DataFrame({
    'Cantidad': conteo_raza,
    'Porcentaje (%)': porcentaje_raza.round(2)
})

# 6. Mostrar resultados
print(resultado_raza)

                Cantidad  Porcentaje (%)
descent_victim
H                 293088           29.71
W                 197773           20.05
-                 139588           14.15
B                 134449           13.63
X                 103966           10.54
O                  76983            7.80
A                  21081            2.14
K                   5720            0.58
F                   4592            0.47
C                   4330            0.44
J                   1506            0.15
V                   1128            0.11
I                    980            0.10
Z                    537            0.05
P                    279            0.03
U                    212            0.02
D                     88            0.01
L                     73            0.01
G                     72            0.01
S                     55            0.01


## 6. Localizaci√≥n del suceso

In [150]:
mapping_loc_code_desc = {
    101.0: 'STREET',
    102.0: 'BUS STOP',
    103.0: 'PARKING LOT',
    104.0: 'DRIVEWAY',
    105.0: 'SIDEWALK',
    201.0: 'SINGLE FAMILY DWELLING',
    202.0: 'MULTI-FAMILY DWELLING (APARTMENT)',
    203.0: 'DUPLEX/TRIPLEX',
    204.0: 'ROOMING HOUSE',
    301.0: 'GOVERNMENT BUILDING',
    302.0: 'POLICE FACILITY',
    303.0: 'JAIL/PRISON',
    401.0: 'RESTAURANT',
    402.0: 'BAR/NIGHTCLUB',
    501.0: 'HOSPITAL/MEDICAL FACILITY',
    502.0: 'NURSING HOME',
    601.0: 'HOTEL/MOTEL',
    602.0: 'MOTOR HOTEL',
    701.0: 'SCHOOL, PUBLIC',
    702.0: 'SCHOOL, PRIVATE',
    801.0: 'BANK',
    802.0: 'ATM',
    901.0: 'MARKET',
    902.0: 'CONVENIENCE STORE',
    903.0: 'DEPARTMENT STORE',
    904.0: 'SHOPPING MALL',
    905.0: 'GAS STATION',
    906.0: 'AUTO DEALERSHIP',
    907.0: 'PARK',
    908.0: 'PLAYGROUND',
    909.0: 'GYM/FITNESS CENTER',
    910.0: 'THEATER',
    911.0: 'MUSEUM',
    912.0: 'LIBRARY',
    913.0: 'CHURCH/SYNAGOGUE/TEMPLE',
    914.0: 'WAREHOUSE',
    915.0: 'FACTORY/PLANT',
    916.0: 'CONSTRUCTION SITE',
    917.0: 'VACANT LOT',
    918.0: 'ABANDONED BUILDING',
    919.0: 'BUSINESS OFFICE',
    920.0: 'YARD (RESIDENTIAL/BUSINESS)',
    976.0: 'OTHER LOCATION'
}

In [151]:
# Mapear el loc_desc est√°ndar seg√∫n loc_code
df['loc_desc'] = df['loc_code'].map(mapping_loc_code_desc).fillna('UNKNOWN')

In [152]:
# 1. Contar cr√≠menes por localizaci√≥n (loc_desc)
conteo_localizaciones = df['loc_desc'].value_counts()

# 2. Sacar porcentaje
porcentaje_localizaciones = (conteo_localizaciones / conteo_localizaciones.sum()) * 100

# 3. Juntar en un solo DataFrame
resultado_localizaciones = pd.DataFrame({
    'Cantidad': conteo_localizaciones,
    'Porcentaje (%)': porcentaje_localizaciones.round(2)
})

# 4. Tomar solo el TOP 10
top_10_localizaciones = resultado_localizaciones.head(10)

# 5. Mostrar
print(top_10_localizaciones)

                           Cantidad  Porcentaje (%)
loc_desc
UNKNOWN                      303434           30.76
STREET                       254978           25.85
HOSPITAL/MEDICAL FACILITY    162104           16.43
NURSING HOME                 117577           11.92
DUPLEX/TRIPLEX                46810            4.75
BUS STOP                      40553            4.11
DRIVEWAY                      15770            1.60
BAR/NIGHTCLUB                  7702            0.78
PARKING LOT                    6943            0.70
GOVERNMENT BUILDING            5531            0.56

# 7. Investigaci√≥n sobre las armas

In [153]:
mapping_weapon_code_desc = {
    100.0: 'HAND GUN',
    101.0: 'RIFLE',
    102.0: 'SHOTGUN',
    103.0: 'ASSAULT WEAPON (AK47, UZI, etc.)',
    104.0: 'OTHER FIREARM',
    105.0: 'SEMI-AUTOMATIC HANDGUN',
    106.0: 'SEMI-AUTOMATIC RIFLE',
    200.0: 'KNIFE/SHARP INSTRUMENT',
    201.0: 'RAZOR',
    202.0: 'SCISSORS',
    203.0: 'ICE PICK',
    204.0: 'SWITCH BLADE',
    205.0: 'OTHER CUTTING INSTRUMENT',
    206.0: 'SWORD/MACHETE',
    300.0: 'BLUNT OBJECT (CLUB, BAT, etc.)',
    301.0: 'ROCK/BRICK',
    302.0: 'PIPE/METAL BAR',
    303.0: 'STICK/POLE',
    400.0: 'PERSONAL WEAPONS (HANDS, FISTS, FEET, ETC.)',
    500.0: 'OTHER WEAPON',
    501.0: 'BOTTLE',
    502.0: 'CHAIN',
    503.0: 'ROPE/STRING/SHOELACE',
    504.0: 'CHEMICAL SPRAY (MACE/PEPPER SPRAY)',
    505.0: 'FIRE (ARSON)',
    506.0: 'EXPLOSIVES',
    507.0: 'VEHICLE',
    508.0: 'AXE',
    509.0: 'SCREWDRIVER',
    510.0: 'UNKNOWN WEAPON',
    700.0: 'SIMULATED WEAPON (FAKE GUN, ETC.)',
    800.0: 'VERBAL THREAT',
    900.0: 'OTHER DANGEROUS WEAPON',
}

In [154]:
# 1. Aseguramos que 'weapon_code' est√© correctamente mapeado
df['weapon_desc'] = df['weapon_code'].map(mapping_weapon_code_desc).fillna('UNKNOWN')

# 2. Conteo de armas por descripci√≥n
conteo_armas = df['weapon_desc'].value_counts()

# 3. Porcentaje de armas
porcentaje_armas = (conteo_armas / conteo_armas.sum()) * 100

# 4. Crear el DataFrame final
resultado_armas = pd.DataFrame({
    'Cantidad': conteo_armas,
    'Porcentaje (%)': porcentaje_armas.round(2)
})

# 5. Tomar el TOP 10
top_10_armas = resultado_armas.head(10)

# 6. Mostrar
print(top_10_armas)

                                             Cantidad  Porcentaje (%)
weapon_desc
UNKNOWN                                        730381           74.04
PERSONAL WEAPONS (HANDS, FISTS, FEET, ETC.)    174484           17.69
OTHER WEAPON                                    36010            3.65
SHOTGUN                                         20123            2.04
KNIFE/SHARP INSTRUMENT                           6826            0.69
SEMI-AUTOMATIC RIFLE                             6573            0.67
SWITCH BLADE                                     2260            0.23
OTHER CUTTING INSTRUMENT                         1919            0.19
RAZOR                                            1697            0.17
PIPE/METAL BAR                                   1385            0.14


## 8. Investigaci√≥n sobre Modus Operandi

## 9. Investigaci√≥n - Case Status Code/Description

In [155]:
unique_status = df['case_status_code'].unique()
print("Valores √∫nicos en la columna 'Status':")
print(unique_status)

non_standard_status = df[df['case_status_code'].isin(['AO', 'JO'])]
result = non_standard_status[['case_status_code', 'case_status_desc']].head(5)
print(result)

Valores √∫nicos en la columna 'Status':
['AA' 'IC' 'AO' 'JA' 'JO' 'CC' nan]
   case_status_code case_status_desc
21               AO      Adult Other
25               AO      Adult Other
35               AO      Adult Other
81               AO      Adult Other
86               AO      Adult Other

In [156]:
status_not_null = df['case_status_code'].notna()
total_status = status_not_null.sum()

non_standard_count = df['case_status_code'].isin(['AO', 'JO']).sum()
percentage = (non_standard_count / total_status) * 100

print(f"Cantidad total de valores no est√°ndar ('AO' y 'JO'): {non_standard_count}")
print(f"Porcentaje respecto al total de valores definidos en 'Status': {percentage:.2f}%")

Cantidad total de valores no est√°ndar ('AO' y 'JO'): 109569
Porcentaje respecto al total de valores definidos en 'Status': 11.11%

In [157]:
null_count = df['case_status_code'].isna().sum()
total_rows = len(df)
null_percentage = (null_count / total_rows) * 100

print(f"Cantidad de valores nulos en 'Status': {null_count}")
print(f"Porcentaje respecto al total de filas: {null_percentage:.2f}%")

Cantidad de valores nulos en 'Status': 1
Porcentaje respecto al total de filas: 0.00%

In [158]:
null_count_desc = df['case_status_desc'].isna().sum()
total_rows = len(df)
null_percentage_desc = (null_count_desc / total_rows) * 100

print(f"Cantidad de valores nulos en 'Status Desc': {null_count_desc}")
print(f"Porcentaje respecto al total de filas: {null_percentage_desc:.2f}%")

Cantidad de valores nulos en 'Status Desc': 0
Porcentaje respecto al total de filas: 0.00%

In [159]:
status_null_rows = df[df['case_status_code'].isna()]
print(status_null_rows[['case_status_desc']])

       case_status_desc
881136              UNK


## Valores numericos (Aaron y Javi)

### id_report

In [160]:
df['id_report'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 986500 entries, 0 to 986499
Series name: id_report
Non-Null Count   Dtype
--------------   -----
986500 non-null  int64
dtypes: int64(1)
memory usage: 7.5 MB

In [161]:
df.iloc[:, :5].head(10)

,id_report,date_report,date_ocurrance,time_ocurrance,area_code
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6
5,231808869,04/04/2023 12:00:00 AM,12/01/2020 12:00:00 AM,2300,1
6,230110144,04/04/2023 12:00:00 AM,07/03/2020 12:00:00 AM,900,1
7,220314085,07/22/2022 12:00:00 AM,05/12/2020 12:00:00 AM,1110,3
8,231309864,04/28/2023 12:00:00 AM,12/09/2020 12:00:00 AM,1400,1
9,211904005,12/31/2020 12:00:00 AM,12/31/2020 12:00:00 AM,1220,1

In [162]:
df.loc[df['id_report']<9999999]

,id_report,date_report,date_ocurrance,time_ocurrance,area_code,area_name,district,crime_severity,crime_code,crime_desc,...,crime_code_1,crime_code_2,crime_code_3,crime_code_4,location,cross_street,latitude,longitude,area_valid,crime_ucr
39890,817,09/20/2020 12:00:00 AM,09/19/2020 12:00:00 AM,1700,1,77th Street,1777,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,9100 RUBIO AV,NaN,34.2367,-118.4955,True,MOTOR VEHICLE THEFT
268033,2113,06/21/2021 12:00:00 AM,04/05/2021 12:00:00 AM,1835,1,77th Street,1385,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,800 E GAGE AV,NaN,33.9820,-118.2622,True,MOTOR VEHICLE THEFT
581052,2203,12/31/2022 12:00:00 AM,12/19/2022 12:00:00 AM,1930,3,Devonshire,356,1,522,"VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, B...",...,522.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002,True,UNKNOWN
734486,2315,07/23/2023 12:00:00 AM,07/22/2023 12:00:00 AM,1800,1,77th Street,1566,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,420.0,NaN,NaN,NaN,4400 ENSIGN AV,NaN,34.1504,-118.3712,True,THEFT FROM VEHICLE
876571,2401,01/10/2024 12:00:00 AM,12/21/2023 12:00:00 AM,1930,1,77th Street,1416,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,3400 CABRILLO BL,NaN,34.0099,-118.4453,True,MOTOR VEHICLE THEFT

### date_report

In [163]:
df['date_report']=pd.to_datetime(df['date_report'])

C:\Users\aaron\AppData\Local\Temp\ipykernel_22420\240740369.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date_report']=pd.to_datetime(df['date_report'])

In [164]:
df['date_report'].head()

0   2020-03-01
1   2020-02-09
2   2020-11-11
3   2023-05-10
4   2022-08-18
Name: date_report, dtype: datetime64[ns]

In [165]:
df['date_report'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 986500 entries, 0 to 986499
Series name: date_report
Non-Null Count   Dtype
--------------   -----
986500 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 7.5 MB

In [166]:
df['month_report'] = df['date_report'].dt.month #Nueva columna solo con el mes del reporte

In [167]:
df['year_report'] = df['date_report'].dt.year   #Nueva columna solo con el a√±o del reporte

In [168]:
df['year_month_report'] = df['date_report'].dt.strftime('%Y-%m')    #Nueva columna solo con el a√±o y mes del reporte

In [169]:
df.iloc[:,20:].head()

,crime_code_1,crime_code_2,crime_code_3,crime_code_4,location,cross_street,latitude,longitude,area_valid,crime_ucr,month_report,year_report,year_month_report
0,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506,True,MOTOR VEHICLE THEFT,3,2020,2020-03
1,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628,True,THEFT FROM VEHICLE,2,2020,2020-02
2,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002,True,OTHER THEFT,11,2020,2020-11
3,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387,True,OTHER THEFT,5,2023,2023-05
4,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277,True,UNKNOWN,8,2022,2022-08

### date_ocurrance

In [170]:
df['date_ocurrance']=pd.to_datetime(df['date_ocurrance'])

C:\Users\aaron\AppData\Local\Temp\ipykernel_22420\779857604.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date_ocurrance']=pd.to_datetime(df['date_ocurrance'])

In [171]:
df['date_ocurrance'].head()

0   2020-03-01
1   2020-02-08
2   2020-11-04
3   2020-03-10
4   2020-08-17
Name: date_ocurrance, dtype: datetime64[ns]

In [172]:
df['date_ocurrance'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 986500 entries, 0 to 986499
Series name: date_ocurrance
Non-Null Count   Dtype
--------------   -----
986500 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 7.5 MB

In [173]:
df['month_ocurrance'] = df['date_ocurrance'].dt.month   #Nueva columna solo con el mes de la aparicion

In [174]:
df['year_ocurrance'] = df['date_ocurrance'].dt.year ##Nueva columna solo con el a√±o de la aparicion

In [175]:
df['year_month_ocurrance'] = df['date_ocurrance'].dt.strftime('%Y-%m')  ##Nueva columna solo con el a√±o y mes de la aparicion

### time_ocurrance

In [176]:
df['time_ocurrance'] = df['time_ocurrance'].astype(str).str.zfill(4) #Asi pongo 4 cifras en la columna

In [177]:
df['time_ocurrance'] = df['time_ocurrance'].str[:-2] + ":" + df['time_ocurrance'].str[-2:] # Aqui converti a string y luego lo separe lo 2 primero numeros, luego : y luego los 2 ultimos

In [178]:
df['time_ocurrance'] = pd.to_datetime(df['time_ocurrance'], format ='%H:%M').dt.time

In [179]:
df.head(5)

,id_report,date_report,date_ocurrance,time_ocurrance,area_code,area_name,district,crime_severity,crime_code,crime_desc,...,latitude,longitude,area_valid,crime_ucr,month_report,year_report,year_month_report,month_ocurrance,year_ocurrance,year_month_ocurrance
0,190326475,2020-03-01,2020-03-01,21:30:00,7,Hollywood,784,1,510,VEHICLE - STOLEN,...,34.0375,-118.3506,True,MOTOR VEHICLE THEFT,3,2020,2020-03,3,2020,2020-03
1,200106753,2020-02-09,2020-02-08,18:00:00,1,77th Street,182,1,330,BURGLARY FROM VEHICLE,...,34.0444,-118.2628,True,THEFT FROM VEHICLE,2,2020,2020-02,2,2020,2020-02
2,200320258,2020-11-11,2020-11-04,17:00:00,3,Devonshire,356,1,480,BIKE - STOLEN,...,34.0210,-118.3002,True,OTHER THEFT,11,2020,2020-11,11,2020,2020-11
3,200907217,2023-05-10,2020-03-10,20:37:00,9,N Hollywood,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,34.1576,-118.4387,True,OTHER THEFT,5,2023,2023-05,3,2020,2020-03
4,220614831,2022-08-18,2020-08-17,12:00:00,6,Hollenbeck,666,2,354,THEFT OF IDENTITY,...,34.0944,-118.3277,True,UNKNOWN,8,2022,2022-08,8,2020,2020-08

### age_victim

Mostrar la informaci√≥n de los no nulos de la columna age_victim

In [180]:
df['age_victim'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 986500 entries, 0 to 986499
Series name: age_victim
Non-Null Count   Dtype
--------------   -----
986500 non-null  int64
dtypes: int64(1)
memory usage: 7.5 MB

Mostrar la informaci√≥n de los valores √∫nicos de la columna

In [181]:
if 'age_victim' in df.columns:
    print(sorted(df['age_victim'].dropna().unique()))
    print("\n")
else:
    print("Column 'age_victim' not found in the dataframe.\n")

[np.int64(-4), np.int64(-3), np.int64(-2), np.int64(-1), np.int64(0), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(6), np.int64(7), np.int64(8), np.int64(9), np.int64(10), np.int64(11), np.int64(12), np.int64(13), np.int64(14), np.int64(15), np.int64(16), np.int64(17), np.int64(18), np.int64(19), np.int64(20), np.int64(21), np.int64(22), np.int64(23), np.int64(24), np.int64(25), np.int64(26), np.int64(27), np.int64(28), np.int64(29), np.int64(30), np.int64(31), np.int64(32), np.int64(33), np.int64(34), np.int64(35), np.int64(36), np.int64(37), np.int64(38), np.int64(39), np.int64(40), np.int64(41), np.int64(42), np.int64(43), np.int64(44), np.int64(45), np.int64(46), np.int64(47), np.int64(48), np.int64(49), np.int64(50), np.int64(51), np.int64(52), np.int64(53), np.int64(54), np.int64(55), np.int64(56), np.int64(57), np.int64(58), np.int64(59), np.int64(60), np.int64(61), np.int64(62), np.int64(63), np.int64(64), np.int64(65), np.int64(66), np.int64(67), np.int64(68), np.int64(69), np.int64(70), np.int64(71), np.int64(72), np.int64(73), np.int64(74), np.int64(75), np.int64(76), np.int64(77), np.int64(78), np.int64(79), np.int64(80), np.int64(81), np.int64(82), np.int64(83), np.int64(84), np.int64(85), np.int64(86), np.int64(87), np.int64(88), np.int64(89), np.int64(90), np.int64(91), np.int64(92), np.int64(93), np.int64(94), np.int64(95), np.int64(96), np.int64(97), np.int64(98), np.int64(99), np.int64(120)]

Mostrar la informaci√≥n de los valores negativos

In [183]:
df['age_victim'].loc[df['age_victim']<0]

143      -2
375      -2
581      -1
595      -1
618      -1
         ..
636182   -1
654233   -1
681376   -1
728608   -1
828481   -1
Name: age_victim, Length: 132, dtype: int64

In [184]:
(df['age_victim']<1).sum()

np.int64(261553)

In [185]:
df.columns

Index(['id_report', 'date_report', 'date_ocurrance', 'time_ocurrance',
       'area_code', 'area_name', 'district', 'crime_severity', 'crime_code',
       'crime_desc', 'crime_mo', 'age_victim', 'sex_victim', 'descent_victim',
       'loc_code', 'loc_desc', 'weapon_code', 'weapon_desc',
       'case_status_code', 'case_status_desc', 'crime_code_1', 'crime_code_2',
       'crime_code_3', 'crime_code_4', 'location', 'cross_street', 'latitude',
       'longitude', 'area_valid', 'crime_ucr', 'month_report', 'year_report',
       'year_month_report', 'month_ocurrance', 'year_ocurrance',
       'year_month_ocurrance'],
      dtype='object')

In [189]:
age_area = df.groupby('area_name')['age_victim'].agg(lambda x: x.median())

df.loc[df['age_victim'] <= 0, 'age_victim'] = df.loc[df['age_victim'] <= 0, 'area_name'].map(age_area)

### location

In [191]:
df['location'].unique()

array(['1900 S  LONGWOOD                     AV',
       '1000 S  FLOWER                       ST',
       '1400 W  37TH                         ST', ...,
       '9500    LA CIENEGA                   BL',
       '1800 E  MARTIN LUTHER KING JR        BL',
       '12200    ART                          ST'],
      shape=(66322,), dtype=object)

In [192]:
df['location'] = df['location'].apply(lambda x: re.sub(r'\s+', ' ', str(x)))    #la funcion re.sub es para reemplazar (lo que quieres reemplazar, por lo que lo vas a reemplazar)

In [193]:
df['location'] = df['location'].apply(str.strip).apply(str.lower)    # Para quitar espacios y ponerlo en minuscula

In [194]:
df.head()

,id_report,date_report,date_ocurrance,time_ocurrance,area_code,area_name,district,crime_severity,crime_code,crime_desc,...,latitude,longitude,area_valid,crime_ucr,month_report,year_report,year_month_report,month_ocurrance,year_ocurrance,year_month_ocurrance
0,190326475,2020-03-01,2020-03-01,21:30:00,7,Hollywood,784,1,510,VEHICLE - STOLEN,...,34.0375,-118.3506,True,MOTOR VEHICLE THEFT,3,2020,2020-03,3,2020,2020-03
1,200106753,2020-02-09,2020-02-08,18:00:00,1,77th Street,182,1,330,BURGLARY FROM VEHICLE,...,34.0444,-118.2628,True,THEFT FROM VEHICLE,2,2020,2020-02,2,2020,2020-02
2,200320258,2020-11-11,2020-11-04,17:00:00,3,Devonshire,356,1,480,BIKE - STOLEN,...,34.0210,-118.3002,True,OTHER THEFT,11,2020,2020-11,11,2020,2020-11
3,200907217,2023-05-10,2020-03-10,20:37:00,9,N Hollywood,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,34.1576,-118.4387,True,OTHER THEFT,5,2023,2023-05,3,2020,2020-03
4,220614831,2022-08-18,2020-08-17,12:00:00,6,Hollenbeck,666,2,354,THEFT OF IDENTITY,...,34.0944,-118.3277,True,UNKNOWN,8,2022,2022-08,8,2020,2020-08

### crime_code_2

In [196]:
df['crime_code_2'] = df['crime_code_2'].fillna(0)

In [197]:
df['crime_code_2'].head(10)

0    998.0
1    998.0
2      0.0
3      0.0
4      0.0
5      0.0
6      0.0
7      0.0
8      0.0
9      0.0
Name: crime_code_2, dtype: float64

In [198]:
df['crime_code_2'] = df['crime_code_2'].astype(int)

### cross_street

In [199]:
df['cross_street'].unique()

array([nan, 'VANOWEN                      AV', 'INGLEWOOD', ...,
       'CHARLES E YOUNG              DR',
       'LUCERNE                      ST', '222ND'],
      shape=(10338,), dtype=object)

In [200]:
df['cross_street'] = df['cross_street'].fillna('Unknow')

In [201]:
df['cross_street'] = df['cross_street'].astype(str)

In [202]:
df['cross_street'] = df['cross_street'].apply(str.strip).apply(str.lower)    # Para quitar espacios y ponerlo en minuscula

In [205]:
df.iloc[:,20:].tail()

,crime_code_1,crime_code_2,crime_code_3,crime_code_4,location,cross_street,latitude,longitude,area_valid,crime_ucr,month_report,year_report,year_month_report,month_ocurrance,year_ocurrance,year_month_ocurrance
986495,341.0,0,NaN,NaN,3700 wilshire bl,unknow,34.0617,-118.3066,True,OTHER THEFT,8,2024,2024-08,8,2024,2024-08
986496,510.0,0,NaN,NaN,4000 w 23rd st,unknow,34.0362,-118.3284,True,MOTOR VEHICLE THEFT,7,2024,2024-07,7,2024,2024-07
986497,745.0,0,NaN,NaN,1300 w sunset bl,unknow,34.0685,-118.2460,True,UNKNOWN,1,2024,2024-01,1,2024,2024-01
986498,230.0,0,NaN,NaN,flower st,jefferson bl,34.0215,-118.2868,True,AGGRAVATED ASSAULT,4,2024,2024-04,4,2024,2024-04
986499,510.0,0,NaN,NaN,6900 vesper av,unknow,34.1961,-118.4510,True,MOTOR VEHICLE THEFT,8,2024,2024-08,8,2024,2024-08

### latitude

In [206]:
df['latitude'].describe()

count    986500.000000
mean         33.996033
std           1.633543
min           0.000000
25%          34.014600
50%          34.058900
75%          34.164900
max          34.334300
Name: latitude, dtype: float64

In [207]:
# Contar cuantas veces aparece el valor 0 en la columna latitude
print(f" La cantidad de valores 0 en la columna 'latitude' es de: {(df['latitude'] == 0).sum()} y el porcentaje total es de {((df['latitude'] == 0).sum())/df.shape[0]*100:.2f} %")

 La cantidad de valores 0 en la columna 'latitude' es de: 2262 y el porcentaje total es de 0.23 %

In [72]:
print(f"Las filas que coinciden son: {((df['latitude'] == 0) & (df['longitude'] == 0)).sum()}")

Las filas que coinciden son: 2262

In [208]:
((df['latitude']<10)).sum()

np.int64(2262)

In [209]:
df.loc[(df['latitude']<10)].head(5)

,id_report,date_report,date_ocurrance,time_ocurrance,area_code,area_name,district,crime_severity,crime_code,crime_desc,...,latitude,longitude,area_valid,crime_ucr,month_report,year_report,year_month_report,month_ocurrance,year_ocurrance,year_month_ocurrance
559,211410751,2021-04-30,2020-06-12,09:30:00,1,77th Street,1438,2,354,THEFT OF IDENTITY,...,0.0,0.0,True,UNKNOWN,4,2021,2021-04,6,2020,2020-06
2268,200416028,2020-12-17,2020-12-17,15:25:00,4,Foothill,473,2,900,VIOLATION OF COURT ORDER,...,0.0,0.0,True,OTHER OFFENSES,12,2020,2020-12,12,2020,2020-12
2637,201517780,2020-11-20,2020-11-20,18:49:00,1,77th Street,1555,1,648,ARSON,...,0.0,0.0,True,UNKNOWN,11,2020,2020-11,11,2020,2020-11
2922,200817064,2020-12-01,2020-12-01,13:40:00,8,Mission,882,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,0.0,0.0,True,OTHER THEFT,12,2020,2020-12,12,2020,2020-12
3095,201410528,2020-05-06,2020-05-06,07:40:00,1,77th Street,1494,2,888,TRESPASSING,...,0.0,0.0,True,UNKNOWN,5,2020,2020-05,5,2020,2020-05

In [216]:
location_lat_mode = df.groupby('location')['latitude'].agg(lambda x: x.mode().iloc[0])  #Metodo para agrupar por localizacion e implementar la moda

df.loc[df['latitude'] == 0, 'latitude'] = df.loc[df['latitude'] == 0, 'location'].map(location_lat_mode)

In [217]:
df.drop(df[df['latitude'] <10].index, inplace=True)

### longitude

In [218]:
print(f" La cantidad de valores 0 en la columna 'longitude' es de: {(df['longitude'] == 0).sum()} y el porcentaje total es de {((df['longitude'] == 0).sum())/df.shape[0]*100:.2f} %")

 La cantidad de valores 0 en la columna 'longitude' es de: 2 y el porcentaje total es de 0.00 %

In [219]:
((df['longitude']>-110)).sum()

np.int64(2)

In [220]:
location_lon_mode = df.groupby('location')['longitude'].agg(lambda x: x.mode().iloc[0])

df.loc[df['longitude'] == 0, 'longitude'] = df.loc[df['longitude'] == 0, 'location'].map(location_lon_mode)

In [221]:
df.drop(df[df['longitude'] >-110].index, inplace=True)

# Modificaciones finales

In [222]:
porcentaje_nulos = df.isna().mean() * 100
print(porcentaje_nulos)

id_report                0.000000
date_report              0.000000
date_ocurrance           0.000000
time_ocurrance           0.000000
area_code                0.000000
area_name                0.000000
district                 0.000000
crime_severity           0.000000
crime_code               0.000000
crime_desc               0.000000
crime_mo                14.844353
age_victim               0.000000
sex_victim               0.000000
descent_victim           0.000000
loc_code                 0.001419
loc_desc                 0.000000
weapon_code             66.916626
weapon_desc              0.000000
case_status_code         0.000101
case_status_desc         0.000000
crime_code_1             0.001115
crime_code_2             0.000000
crime_code_3            99.765822
crime_code_4            99.993512
location                 0.000000
cross_street             0.000000
latitude                 0.000000
longitude                0.000000
area_valid               0.000000
crime_ucr                0.000000
month_report             0.000000
year_report              0.000000
year_month_report        0.000000
month_ocurrance          0.000000
year_ocurrance           0.000000
year_month_ocurrance     0.000000
dtype: float64

In [223]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 986429 entries, 0 to 986499
Data columns (total 36 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id_report             986429 non-null  int64
 1   date_report           986429 non-null  datetime64[ns]
 2   date_ocurrance        986429 non-null  datetime64[ns]
 3   time_ocurrance        986429 non-null  object
 4   area_code             986429 non-null  int64
 5   area_name             986429 non-null  object
 6   district              986429 non-null  object
 7   crime_severity        986429 non-null  int64
 8   crime_code            986429 non-null  int64
 9   crime_desc            986429 non-null  object
 10  crime_mo              840000 non-null  object
 11  age_victim            986429 non-null  int64
 12  sex_victim            986429 non-null  object
 13  descent_victim        986429 non-null  object
 14  loc_code              986415 non-null  float64
 15  loc_desc              986429 non-null  object
 16  weapon_code           326344 non-null  float64
 17  weapon_desc           986429 non-null  object
 18  case_status_code      986428 non-null  object
 19  case_status_desc      986429 non-null  object
 20  crime_code_1          986418 non-null  float64
 21  crime_code_2          986429 non-null  int64
 22  crime_code_3          2310 non-null    float64
 23  crime_code_4          64 non-null      float64
 24  location              986429 non-null  object
 25  cross_street          986429 non-null  object
 26  latitude              986429 non-null  float64
 27  longitude             986429 non-null  float64
 28  area_valid            986429 non-null  bool
 29  crime_ucr             986429 non-null  object
 30  month_report          986429 non-null  int32
 31  year_report           986429 non-null  int32
 32  year_month_report     986429 non-null  object
 33  month_ocurrance       986429 non-null  int32
 34  year_ocurrance        986429 non-null  int32
 35  year_month_ocurrance  986429 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(7), int32(4), int64(6), object(16)
memory usage: 256.8+ MB

## Columnas a eliminar

In [224]:
columns_drop = ['crime_code_4','crime_code_3','crime_code_1',]

In [225]:
df = df.drop(columns_drop, axis=1)

## Filas a eliminar

In [226]:
features_null = ['loc_desc','loc_code','case_status_code']

In [227]:
df = df.dropna(subset=features_null)

In [228]:
df.head()

,id_report,date_report,date_ocurrance,time_ocurrance,area_code,area_name,district,crime_severity,crime_code,crime_desc,...,latitude,longitude,area_valid,crime_ucr,month_report,year_report,year_month_report,month_ocurrance,year_ocurrance,year_month_ocurrance
0,190326475,2020-03-01,2020-03-01,21:30:00,7,Hollywood,784,1,510,VEHICLE - STOLEN,...,34.0375,-118.3506,True,MOTOR VEHICLE THEFT,3,2020,2020-03,3,2020,2020-03
1,200106753,2020-02-09,2020-02-08,18:00:00,1,77th Street,182,1,330,BURGLARY FROM VEHICLE,...,34.0444,-118.2628,True,THEFT FROM VEHICLE,2,2020,2020-02,2,2020,2020-02
2,200320258,2020-11-11,2020-11-04,17:00:00,3,Devonshire,356,1,480,BIKE - STOLEN,...,34.0210,-118.3002,True,OTHER THEFT,11,2020,2020-11,11,2020,2020-11
3,200907217,2023-05-10,2020-03-10,20:37:00,9,N Hollywood,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,34.1576,-118.4387,True,OTHER THEFT,5,2023,2023-05,3,2020,2020-03
4,220614831,2022-08-18,2020-08-17,12:00:00,6,Hollenbeck,666,2,354,THEFT OF IDENTITY,...,34.0944,-118.3277,True,UNKNOWN,8,2022,2022-08,8,2020,2020-08

In [229]:
df['district'] = df['district'].astype(int)

## Pasar a minuscula todas las variables object para estandarizar todo

In [230]:
for columna in df.select_dtypes(include='object').columns:
    if columna != 'time_ocurrance':
        df[columna] = df[columna].str.lower()

In [231]:
df['crime_severity'] = df['crime_severity'].map({1: 'grave', 2: 'menos grave'})

In [237]:
df = df.drop_duplicates()

In [238]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 986415 entries, 0 to 986499
Data columns (total 33 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id_report             986415 non-null  int64
 1   date_report           986415 non-null  datetime64[ns]
 2   date_ocurrance        986415 non-null  datetime64[ns]
 3   time_ocurrance        986415 non-null  object
 4   area_code             986415 non-null  int64
 5   area_name             986415 non-null  object
 6   district              986415 non-null  int64
 7   crime_severity        986415 non-null  object
 8   crime_code            986415 non-null  int64
 9   crime_desc            986415 non-null  object
 10  crime_mo              840000 non-null  object
 11  age_victim            986415 non-null  int64
 12  sex_victim            986415 non-null  object
 13  descent_victim        986415 non-null  object
 14  loc_code              986415 non-null  float64
 15  loc_desc              986415 non-null  object
 16  weapon_code           326344 non-null  float64
 17  weapon_desc           986415 non-null  object
 18  case_status_code      986415 non-null  object
 19  case_status_desc      986415 non-null  object
 20  crime_code_2          986415 non-null  int64
 21  location              986415 non-null  object
 22  cross_street          986415 non-null  object
 23  latitude              986415 non-null  float64
 24  longitude             986415 non-null  float64
 25  area_valid            986415 non-null  bool
 26  crime_ucr             986415 non-null  object
 27  month_report          986415 non-null  int32
 28  year_report           986415 non-null  int32
 29  year_month_report     986415 non-null  object
 30  month_ocurrance       986415 non-null  int32
 31  year_ocurrance        986415 non-null  int32
 32  year_month_ocurrance  986415 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(4), int32(4), int64(6), object(16)
memory usage: 234.2+ MB

# EXPORTAR CSV

In [233]:
df.head()

,id_report,date_report,date_ocurrance,time_ocurrance,area_code,area_name,district,crime_severity,crime_code,crime_desc,...,latitude,longitude,area_valid,crime_ucr,month_report,year_report,year_month_report,month_ocurrance,year_ocurrance,year_month_ocurrance
0,190326475,2020-03-01,2020-03-01,21:30:00,7,hollywood,784,grave,510,vehicle - stolen,...,34.0375,-118.3506,True,motor vehicle theft,3,2020,2020-03,3,2020,2020-03
1,200106753,2020-02-09,2020-02-08,18:00:00,1,77th street,182,grave,330,burglary from vehicle,...,34.0444,-118.2628,True,theft from vehicle,2,2020,2020-02,2,2020,2020-02
2,200320258,2020-11-11,2020-11-04,17:00:00,3,devonshire,356,grave,480,bike - stolen,...,34.0210,-118.3002,True,other theft,11,2020,2020-11,11,2020,2020-11
3,200907217,2023-05-10,2020-03-10,20:37:00,9,n hollywood,964,grave,343,shoplifting-grand theft ($950.01 & over),...,34.1576,-118.4387,True,other theft,5,2023,2023-05,3,2020,2020-03
4,220614831,2022-08-18,2020-08-17,12:00:00,6,hollenbeck,666,menos grave,354,theft of identity,...,34.0944,-118.3277,True,unknown,8,2022,2022-08,8,2020,2020-08

In [236]:
df.to_csv('Data_Crime_Cleaning.csv', index=False)