# Importar librerias

## Instalacion librerias

In [1]:
import pandas as pd

# Importaci√≥n dataset

## Instalacion de gdown

In [3]:
import pandas as pd
df = pd.read_csv("Crime_Data_from_2020_to_Present.csv")
df.head(10)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
5,231808869,04/04/2023 12:00:00 AM,12/01/2020 12:00:00 AM,2300,18,Southeast,1826,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,9900 COMPTON AV,NaN,33.9467,-118.2463
6,230110144,04/04/2023 12:00:00 AM,07/03/2020 12:00:00 AM,900,1,Central,182,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1100 S GRAND AV,NaN,34.0415,-118.2620
7,220314085,07/22/2022 12:00:00 AM,05/12/2020 12:00:00 AM,1110,3,Southwest,303,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,2500 S SYCAMORE AV,NaN,34.0335,-118.3537
8,231309864,04/28/2023 12:00:00 AM,12/09/2020 12:00:00 AM,1400,13,Newton,1375,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1300 E 57TH ST,NaN,33.9911,-118.2521
9,211904005,12/31/2020 12:00:00 AM,12/31/2020 12:00:00 AM,1220,19,Mission,1974,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,9000 CEDROS AV,NaN,34.2336,-118.4535

In [7]:
print(df.head(10))

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
2  200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700     3
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  220614831  08/18/2022 12:00:00 AM  08/17/2020 12:00:00 AM      1200     6
5  231808869  04/04/2023 12:00:00 AM  12/01/2020 12:00:00 AM      2300    18
6  230110144  04/04/2023 12:00:00 AM  07/03/2020 12:00:00 AM       900     1
7  220314085  07/22/2022 12:00:00 AM  05/12/2020 12:00:00 AM      1110     3
8  231309864  04/28/2023 12:00:00 AM  12/09/2020 12:00:00 AM      1400    13
9  211904005  12/31/2020 12:00:00 AM  12/31/2020 12:00:00 AM      1220    19

   AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Wilshire          784         1     510
1    Central          182         1     330
2  Southwest          356         1     480
3   Van Nuys          964         1     343
4  Hollywood          666         2     354
5  Southeast         1826         2     354
6    Central          182         2     354
7  Southwest          303         2     354
8     Newton         1375         2     354
9    Mission         1974         2     624

                                Crm Cd Desc  ... Status   Status Desc  \
0                          VEHICLE - STOLEN  ...     AA  Adult Arrest
1                     BURGLARY FROM VEHICLE  ...     IC   Invest Cont
2                             BIKE - STOLEN  ...     IC   Invest Cont
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC   Invest Cont
4                         THEFT OF IDENTITY  ...     IC   Invest Cont
5                         THEFT OF IDENTITY  ...     IC   Invest Cont
6                         THEFT OF IDENTITY  ...     IC   Invest Cont
7                         THEFT OF IDENTITY  ...     IC   Invest Cont
8                         THEFT OF IDENTITY  ...     IC   Invest Cont
9                  BATTERY - SIMPLE ASSAULT  ...     IC   Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    510.0    998.0       NaN      NaN
1    330.0    998.0       NaN      NaN
2    480.0      NaN       NaN      NaN
3    343.0      NaN       NaN      NaN
4    354.0      NaN       NaN      NaN
5    354.0      NaN       NaN      NaN
6    354.0      NaN       NaN      NaN
7    354.0      NaN       NaN      NaN
8    354.0      NaN       NaN      NaN
9    624.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
2   1400 W  37TH                         ST          NaN  34.0210 -118.3002
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                         1900    TRANSIENT          NaN  34.0944 -118.3277
5   9900    COMPTON                      AV          NaN  33.9467 -118.2463
6   1100 S  GRAND                        AV          NaN  34.0415 -118.2620
7   2500 S  SYCAMORE                     AV          NaN  34.0335 -118.3537
8   1300 E  57TH                         ST          NaN  33.9911 -118.2521
9   9000    CEDROS                       AV          NaN  34.2336 -118.4535

[10 rows x 28 columns]

In [8]:
df.iloc[:,:14].head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,0,M,O
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,47,M,O
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,19,X,X
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,19,M,O
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,1822 1501 0930 2004,28,M,H

In [9]:
df.iloc[:,14:].head()

,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,101.0,STREET,NaN,NaN,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,405.0,CLOTHING STORE,NaN,NaN,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,102.0,SIDEWALK,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [10]:
df.iloc[:,14:].tail()

,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
986495,207.0,BAR/COCKTAIL/NIGHTCLUB,NaN,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,3700 WILSHIRE BL,NaN,34.0617,-118.3066
986496,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,4000 W 23RD ST,NaN,34.0362,-118.3284
986497,503.0,HOTEL,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
986498,102.0,SIDEWALK,308.0,STICK,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
986499,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986500 entries, 0 to 986499
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           986500 non-null  int64
 1   Date Rptd       986500 non-null  object
 2   DATE OCC        986500 non-null  object
 3   TIME OCC        986500 non-null  int64
 4   AREA            986500 non-null  int64
 5   AREA NAME       986500 non-null  object
 6   Rpt Dist No     986500 non-null  int64
 7   Part 1-2        986500 non-null  int64
 8   Crm Cd          986500 non-null  int64
 9   Crm Cd Desc     986500 non-null  object
 10  Mocodes         840065 non-null  object
 11  Vict Age        986500 non-null  int64
 12  Vict Sex        846925 non-null  object
 13  Vict Descent    846914 non-null  object
 14  Premis Cd       986486 non-null  float64
 15  Premis Desc     985915 non-null  object
 16  Weapon Used Cd  326368 non-null  float64
 17  Weapon Desc     326368 non-null  object
 18  Status          986499 non-null  object
 19  Status Desc     986500 non-null  object
 20  Crm Cd 1        986489 non-null  float64
 21  Crm Cd 2        68912 non-null   float64
 22  Crm Cd 3        2310 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        986500 non-null  object
 25  Cross Street    152270 non-null  object
 26  LAT             986500 non-null  float64
 27  LON             986500 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 210.7+ MB

In [12]:
df.describe()

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON
count,9.865000e+05,986500.000000,986500.000000,986500.000000,986500.000000,986500.000000,986500.000000,986486.000000,326368.000000,986489.000000,68912.000000,2310.000000,64.00000,986500.000000,986500.000000
mean,2.198270e+08,1339.086392,10.698086,1116.245129,1.403666,500.782398,29.045177,306.054803,363.846008,500.538333,958.162091,984.198701,991.21875,33.996033,-118.083281
std,1.299240e+07,651.457178,6.108873,611.002343,0.490632,206.092913,21.976666,219.156166,123.699000,205.891829,110.250287,51.495991,27.06985,1.633543,5.661853
min,8.170000e+02,1.000000,1.000000,101.000000,1.000000,110.000000,-4.000000,101.000000,101.000000,110.000000,210.000000,310.000000,821.00000,0.000000,-118.667600
25%,2.106103e+08,900.000000,5.000000,587.000000,1.000000,331.000000,0.000000,101.000000,311.000000,331.000000,998.000000,998.000000,998.00000,34.014600,-118.430500
50%,2.208174e+08,1420.000000,11.000000,1141.000000,1.000000,442.000000,30.000000,203.000000,400.000000,442.000000,998.000000,998.000000,998.00000,34.058900,-118.322500
75%,2.310049e+08,1900.000000,16.000000,1617.000000,2.000000,626.000000,44.000000,501.000000,400.000000,626.000000,998.000000,998.000000,998.00000,34.164900,-118.273900
max,2.499289e+08,2359.000000,21.000000,2199.000000,2.000000,956.000000,120.000000,976.000000,516.000000,956.000000,999.000000,999.000000,999.00000,34.334300,0.000000

In [13]:
# Exploraci√≥n de primeros 50 valores √∫nicos solo para variables categ√≥ricas
for col in df.select_dtypes(include='object').columns:
    print(f"--- {col} ---")
    print(df[col].dropna().unique()[:50])  # Primeros 50 valores √∫nicos
    print("\n")

--- Date Rptd ---
['03/01/2020 12:00:00 AM' '02/09/2020 12:00:00 AM'
 '11/11/2020 12:00:00 AM' '05/10/2023 12:00:00 AM'
 '08/18/2022 12:00:00 AM' '04/04/2023 12:00:00 AM'
 '07/22/2022 12:00:00 AM' '04/28/2023 12:00:00 AM'
 '12/31/2020 12:00:00 AM' '01/21/2022 12:00:00 AM'
 '04/12/2022 12:00:00 AM' '01/05/2023 12:00:00 AM'
 '05/06/2022 12:00:00 AM' '06/01/2023 12:00:00 AM'
 '02/03/2023 12:00:00 AM' '12/24/2023 12:00:00 AM'
 '11/27/2020 12:00:00 AM' '09/20/2022 12:00:00 AM'
 '02/03/2022 12:00:00 AM' '04/25/2023 12:00:00 AM'
 '03/21/2023 12:00:00 AM' '06/04/2023 12:00:00 AM'
 '09/09/2020 12:00:00 AM' '08/03/2023 12:00:00 AM'
 '02/02/2022 12:00:00 AM' '02/23/2022 12:00:00 AM'
 '05/03/2020 12:00:00 AM' '03/20/2021 12:00:00 AM'
 '04/28/2022 12:00:00 AM' '02/27/2023 12:00:00 AM'
 '01/17/2023 12:00:00 AM' '05/09/2023 12:00:00 AM'
 '01/19/2022 12:00:00 AM' '09/06/2022 12:00:00 AM'
 '09/27/2021 12:00:00 AM' '10/22/2021 12:00:00 AM'
 '10/10/2022 12:00:00 AM' '03/28/2023 12:00:00 AM'
 '10/25/2023 12:00:00 AM' '11/15/2022 12:00:00 AM'
 '04/18/2023 12:00:00 AM' '03/30/2022 12:00:00 AM'
 '01/06/2022 12:00:00 AM' '06/03/2022 12:00:00 AM'
 '07/26/2022 12:00:00 AM' '03/03/2023 12:00:00 AM'
 '12/13/2022 12:00:00 AM' '07/07/2022 12:00:00 AM'
 '04/27/2022 12:00:00 AM' '07/14/2022 12:00:00 AM']


--- DATE OCC ---
['03/01/2020 12:00:00 AM' '02/08/2020 12:00:00 AM'
 '11/04/2020 12:00:00 AM' '03/10/2020 12:00:00 AM'
 '08/17/2020 12:00:00 AM' '12/01/2020 12:00:00 AM'
 '07/03/2020 12:00:00 AM' '05/12/2020 12:00:00 AM'
 '12/09/2020 12:00:00 AM' '12/31/2020 12:00:00 AM'
 '07/01/2020 12:00:00 AM' '10/01/2020 12:00:00 AM'
 '02/01/2020 12:00:00 AM' '11/01/2020 12:00:00 AM'
 '02/02/2020 12:00:00 AM' '01/09/2020 12:00:00 AM'
 '11/27/2020 12:00:00 AM' '01/01/2020 12:00:00 AM'
 '02/11/2020 12:00:00 AM' '03/15/2020 12:00:00 AM'
 '09/09/2020 12:00:00 AM' '02/09/2020 12:00:00 AM'
 '08/14/2020 12:00:00 AM' '05/02/2020 12:00:00 AM'
 '03/30/2020 12:00:00 AM' '01/27/2020 12:00:00 AM'
 '05/08/2020 12:00:00 AM' '01/18/2020 12:00:00 AM'
 '05/26/2020 12:00:00 AM' '11/26/2020 12:00:00 AM'
 '04/01/2020 12:00:00 AM' '06/28/2020 12:00:00 AM'
 '09/02/2020 12:00:00 AM' '10/23/2020 12:00:00 AM'
 '10/30/2020 12:00:00 AM' '12/10/2020 12:00:00 AM'
 '01/14/2020 12:00:00 AM' '05/17/2020 12:00:00 AM'
 '02/23/2020 12:00:00 AM' '07/07/2020 12:00:00 AM'
 '07/14/2020 12:00:00 AM' '08/01/2020 12:00:00 AM'
 '06/01/2020 12:00:00 AM' '11/13/2020 12:00:00 AM'
 '11/12/2020 12:00:00 AM' '03/29/2020 12:00:00 AM'
 '07/09/2020 12:00:00 AM' '12/20/2020 12:00:00 AM'
 '09/13/2020 12:00:00 AM' '12/02/2020 12:00:00 AM']


--- AREA NAME ---
['Wilshire' 'Central' 'Southwest' 'Van Nuys' 'Hollywood' 'Southeast'
 'Newton' 'Mission' 'Rampart' 'West Valley' 'West LA' 'Olympic'
 'Hollenbeck' 'Topanga' 'Northeast' '77th Street' 'Pacific' 'N Hollywood'
 'Harbor' 'Foothill' 'Devonshire']


--- Crm Cd Desc ---
['VEHICLE - STOLEN' 'BURGLARY FROM VEHICLE' 'BIKE - STOLEN'
 'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)' 'THEFT OF IDENTITY'
 'BATTERY - SIMPLE ASSAULT'
 'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH'
 'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)'
 'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT'
 'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD'
 'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD'
 'CRIMINAL THREATS - NO WEAPON DISPLAYED'
 'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)'
 'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)'
 'CHILD ANNOYING (17YRS & UNDER)' 'THEFT PLAIN - PETTY ($950 & UNDER)'
 'INTIMATE PARTNER - SIMPLE ASSAULT' 'LEWD CONDUCT'
 'THEFT PLAIN - ATTEMPT' 'BURGLARY'
 'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)' 'ROBBERY'
 'BUNCO, GRAND THEFT' 'BATTERY WITH SEXUAL CONTACT'
 'INTIMATE PARTNER - AGGRAVATED ASSAULT' 'ORAL COPULATION'
 'UNAUTHORIZED COMPUTER ACCESS'
 'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ'
 'VIOLATION OF RESTRAINING ORDER'
 'SHOPLIFTING - PETTY THEFT ($950 & UNDER)'
 'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)'
 'OTHER MISCELLANEOUS CRIME' 'BRANDISH WEAPON'
 'DOCUMENT FORGERY / STOLEN FELONY'
 'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE' 'RAPE, FORCIBLE'
 'VANDALISM - MISDEAMEANOR ($399 OR UNDER)'
 'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT'
 'CREDIT CARDS, FRAUD USE ($950.01 & OVER)'
 'THREATENING PHONE CALLS/LETTERS' 'SEXUAL PENETRATION W/FOREIGN OBJECT'
 'EXTORTION' 'OTHER ASSAULT' 'PICKPOCKET' 'ARSON' 'DISTURBING THE PEACE'
 'BUNCO, ATTEMPT' 'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE' 'PIMPING'
 'PEEPING TOM']


--- Mocodes ---
['1822 1402 0344' '0344 1251' '0325 1501' '1822 1501 0930 2004'
 '1822 0100 0930 0929' '0930 0929' '0100' '0416' '1822 0930'
 '0913 2024 1817 0360 1258 0507' '1251 1258 0913 0400 0500 0522 1817'
 '0100 0928 0929 0935 1822' '0928 1822' '1309 0400' '2041 1906 1822'
 '0352 1822 0344' '1259 0913 1817 1801 0503'
 '1251 1258 0400 0522 0913 0551 2021' '1822 0929 0930' '1912 0913' '0928'
 '2000 1813 0913 0416' '0100 0917 1822' '0100 0928' '0344 1302 1307'
 '0913 0400 0443 1814 2000' '0100 1822 0930 0922' '0377' '0917'
 '1822 0935 1202' '0930 0929 0928 1822' '1822 0359 1251 1259'
 '0522 0500 1258' '0922 0929 0923 0930' '0929 1822 0100 0930 0922'
 '0344 1202 1606' '0100 0928 1202' '1817' '0344' '0917 0929' '1501'
 '1822 1414 0947 0344' '1814 0913 0400' '0929 1822' '0923'
 '0913 0602 0360 0545 0536 0531 1258' '0352 0344 1202 2004 2021 0913 1817'
 '1822 0929' '0397 0344' '0100 0930 1822']


--- Vict Sex ---
['M' 'X' 'F' 'H' '-']


--- Vict Descent ---
['O' 'X' 'H' 'B' 'W' 'A' 'K' 'C' 'J' 'F' 'I' 'V' 'S' 'P' 'Z' 'G' 'U' 'D'
 'L' '-']


--- Premis Desc ---
['STREET' 'BUS STOP/LAYOVER (ALSO QUERY 124)'
 'MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)' 'CLOTHING STORE'
 'SIDEWALK' 'SINGLE FAMILY DWELLING' 'CELL PHONE STORE' 'CYBERSPACE'
 'WEBSITE' 'OTHER BUSINESS' 'PARKING LOT' 'OTHER RESIDENCE'
 'AUTOMATED TELLER MACHINE (ATM)' 'DEPARTMENT STORE' 'PUBLIC STORAGE'
 'GARAGE/CARPORT' 'OFFICE BUILDING/OFFICE' 'EQUIPMENT RENTAL'
 'POLICE FACILITY' 'MTA BUS' 'SPECIALTY SCHOOL/OTHER' 'BANK'
 'GOVERNMENT FACILITY (FEDERAL,STATE, COUNTY & CITY)' 'SKATING RINK*'
 'BUS STOP' 'JUNIOR HIGH SCHOOL' 'OTHER/OUTSIDE' 'ALLEY'
 'VEHICLE, PASSENGER/TRUCK' 'ABANDONED BUILDING ABANDONED HOUSE'
 'TRANSPORTATION FACILITY (AIRPORT)' 'MOTEL' 'HOSPITAL'
 'BUS, SCHOOL, CHURCH' 'OTHER PREMISE' 'STORAGE SHED' 'OTHER STORE'
 'HIGH SCHOOL' 'MAIL BOX' 'HOTEL' 'NIGHT CLUB (OPEN EVENINGS ONLY)'
 'FINANCE COMPANY' 'PARK/PLAYGROUND' 'COLISEUM' 'HEALTH SPA/GYM'
 'CHURCH/CHAPEL (CHANGED 03-03 FROM CHURCH/TEMPLE)' 'DRIVEWAY'
 'UNDERPASS/BRIDGE*' 'JEWELRY STORE' 'BANKING INSIDE MARKET-STORE *']


--- Weapon Desc ---
['STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)' 'VEHICLE'
 'UNKNOWN WEAPON/OTHER WEAPON' 'VERBAL THREAT'
 'BELT FLAILING INSTRUMENT/CHAIN' 'HAND GUN' 'UNKNOWN FIREARM'
 'KNIFE WITH BLADE 6INCHES OR LESS' 'FIXED OBJECT' 'KITCHEN KNIFE'
 'MACHETE' 'UNKNOWN TYPE CUTTING INSTRUMENT' 'MACE/PEPPER SPRAY' 'STICK'
 'OTHER KNIFE' 'PHYSICAL PRESENCE'
 'KNIFE WITH BLADE OVER 6 INCHES IN LENGTH' 'HAMMER'
 'AIR PISTOL/REVOLVER/RIFLE/BB GUN' 'SEMI-AUTOMATIC PISTOL'
 'SIMULATED GUN' 'RAZOR' 'OTHER FIREARM' 'FOLDING KNIFE' 'PIPE/METAL PIPE'
 'ROCK/THROWN OBJECT' 'RIFLE' 'OTHER CUTTING INSTRUMENT' 'FIRE' 'REVOLVER'
 'BOTTLE' 'SCISSORS' 'SWITCH BLADE' 'BRASS KNUCKLES' 'CLUB/BAT'
 'BLUNT INSTRUMENT' 'BOARD' 'STUN GUN' 'CLEAVER' 'RAZOR BLADE'
 'SCREWDRIVER' 'SHOTGUN' 'CONCRETE BLOCK/BRICK' 'CAUSTIC CHEMICAL/POISON'
 'SEMI-AUTOMATIC RIFLE' 'SCALDING LIQUID' 'TIRE IRON' 'BOWIE KNIFE'
 'GLASS' 'AXE']


--- Status ---
['AA' 'IC' 'AO' 'JA' 'JO' 'CC']


--- Status Desc ---
['Adult Arrest' 'Invest Cont' 'Adult Other' 'Juv Arrest' 'Juv Other' 'UNK']


--- LOCATION ---
['1900 S  LONGWOOD                     AV'
 '1000 S  FLOWER                       ST'
 '1400 W  37TH                         ST'
 '14000    RIVERSIDE                    DR' '1900    TRANSIENT'
 '9900    COMPTON                      AV'
 '1100 S  GRAND                        AV'
 '2500 S  SYCAMORE                     AV'
 '1300 E  57TH                         ST'
 '9000    CEDROS                       AV'
 '100 W  COLDEN                       AV'
 '13400    RANGOON                      ST'
 '900 N  MARIPOSA                     AV'
 'VALJEAN                      ST'
 '4200    SANTO TOMAS                  DR'
 '400 W  90TH                         ST'
 '4000    WALL                         ST'
 '4500    LOMITA                       ST'
 '5200    GENESTA                      AV'
 '800 S  TREMAINE                     AV'
 '16700    MONTE HERMOSO                DR'
 '8500    COLUMBUS                     AV'
 '1700 S  WESTMORELAND                 AV' '200 E  AVENUE 28'
 '21000    VANOWEN                      ST'
 '2800    WAVERLY                      DR'
 '7700    SAUSALITO                    AV'
 '2500 W  4TH                          ST'
 '1600 W  67TH                         ST'
 '1200 S  WESTGATE                     AV'
 '6200    4TH                          AV'
 '100 E  85TH                         ST'
 '2800 E  OBSERVATORY                  RD'
 'WASHINGTON                   PL'
 '200 S  CORONADO                     ST'
 '7800 S  SAN PEDRO                    ST'
 '8700    ORCHARD                      AV'
 '5700    CARTWRIGHT                   AV'
 '3400    PERCY                        ST'
 '8700    TOBIAS                       AV'
 '17900    EMELITA                      ST'
 '700 E  73RD                         ST'
 '1100 W  6TH                          ST'
 '5700    COLFAX                       AV'
 '2700 S  CENTRAL                      AV'
 '15200    LA MAIDA                     ST'
 '14500    WILLOWGREEN                  LN'
 '1400 W  25TH                         ST'
 '500 W  75TH                         ST'
 '2300 S  MEYLER                       ST']


--- Cross Street ---
['VANOWEN                      AV' 'INGLEWOOD'
 'GLADYS                       AV' 'WALL'
 '43RD                         ST' 'LEXINGTON' 'OSBORNE' 'ENCINO'
 'ROSCOE                       BL' 'BLUFF CREEK                  DR'
 'BASSETT' 'FOUNTAIN' 'SAN PEDRO                    ST'
 'HIGHLAND                     AV' 'MAHAR'
 'CRYSTAL SPRINGS              DR' 'VENTURA' 'SPENCE'
 'WINNETKA                     AV' 'WOODMAN' 'EL CENTRO' 'WADSWORTH'
 'GAGE' 'WESTERN' 'CANBY                        ST'
 'W  SLAUSON                      AV' 'PARTHENIA                    ST'
 'DE SOTO' 'DIVISION' 'CROCKER' 'RANCHITO'
 'CLUBHOUSE                    AV' 'UNKNOWN' 'ATOLL'
 '29TH                         ST' 'N  SPRING                       ST'
 'BROADWAY' 'CENTRAL                      AV' 'MAIN'
 '11TH                         ST' 'WESTERN                      AV'
 'ELMER' '84TH                         ST'
 'GRIFFITH                     AV' 'S  BROADWAY' '24TH'
 'DONA LOLA                    DR' 'HOOVER'
 '33RD                         ST' 'CENTURY PARK']

In [4]:
# Vamos a renombrar las columnas para hacerlas m√°s comprensibles, se trata de un cambio en el Diccionario
rename_columns = {
    'DR_NO': 'id_report',
    'Date Rptd': 'date_report',
    'DATE OCC': 'date_ocurrance',
    'TIME OCC': 'time_ocurrance',
    'AREA': 'area_code',
    'AREA NAME': 'area_name',
    'Rpt Dist No': 'district',
    'Part 1-2': 'crime_severity',
    'Crm Cd': 'crime_code',
    'Crm Cd Desc': 'crime_desc',
    'Mocodes': 'crime_mo',
    'Vict Age': 'age_victim',
    'Vict Sex': 'sex_victim',
    'Vict Descent': 'descent_victim',
    'Premis Cd': 'loc_code',
    'Premis Desc': 'loc_desc',
    'Weapon Used Cd': 'weapon_code',
    'Weapon Desc': 'weapon_desc',
    'Status': 'case_status_code',
    'Status Desc': 'case_status_desc',
    'Crm Cd 1': 'crime_code_1',
    'Crm Cd 2': 'crime_code_2',
    'Crm Cd 3': 'crime_code_3',
    'Crm Cd 4': 'crime_code_4',
    'LOCATION': 'location',
    'Cross Street': 'cross_street',
    'LAT': 'latitude',
    'LON': 'longitude'
}

# Renombrar las columnas
df.rename(columns=rename_columns, inplace=True)

# Confirmar el cambio
df.head()

,id_report,date_report,date_ocurrance,time_ocurrance,area_code,area_name,district,crime_severity,crime_code,crime_desc,...,case_status_code,case_status_desc,crime_code_1,crime_code_2,crime_code_3,crime_code_4,location,cross_street,latitude,longitude
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [15]:
# Variables a explorar
columns_to_explore = [
    'area_code',
    'area_name',
    'district',
    'crime_severity',
    'crime_code',
    'crime_desc',
    'sex_victim',
    'descent_victim',
    'loc_code',
    'loc_desc',
    'weapon_code',
    'weapon_desc',
    'case_status_code',
    'case_status_desc'
]

# Mostrar TODOS los valores √∫nicos para esas columnas
for col in columns_to_explore:
    if col in df.columns:
        print(f"--- {col} ---")
        print(sorted(df[col].dropna().unique()))
        print("\n")
    else:
        print(f"Column {col} not found in the dataframe.\n")

--- area_code ---
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]


--- area_name ---
['77th Street', 'Central', 'Devonshire', 'Foothill', 'Harbor', 'Hollenbeck', 'Hollywood', 'Mission', 'N Hollywood', 'Newton', 'Northeast', 'Olympic', 'Pacific', 'Rampart', 'Southeast', 'Southwest', 'Topanga', 'Van Nuys', 'West LA', 'West Valley', 'Wilshire']


--- district ---
[101, 105, 109, 111, 112, 118, 119, 121, 122, 123, 124, 127, 128, 129, 131, 132, 133, 134, 135, 138, 139, 141, 142, 143, 144, 145, 146, 147, 148, 151, 152, 153, 154, 155, 156, 157, 158, 159, 161, 162, 163, 164, 165, 166, 171, 174, 176, 181, 182, 185, 191, 192, 195, 201, 202, 203, 204, 205, 211, 212, 213, 215, 216, 217, 218, 219, 221, 224, 225, 226, 231, 233, 234, 235, 236, 237, 238, 239, 241, 242, 244, 245, 246, 247, 248, 249, 251, 252, 254, 256, 257, 261, 265, 266, 267, 269, 271, 275, 277, 279, 281, 285, 289, 291, 292, 295, 299, 301, 303, 305, 307, 308, 309, 311, 312, 313, 314, 315, 316, 317, 318, 319, 321, 325, 326, 327, 328, 329, 331, 332, 333, 334, 335, 336, 337, 338, 341, 343, 351, 353, 354, 355, 356, 357, 358, 359, 361, 362, 363, 373, 374, 375, 376, 377, 378, 379, 391, 392, 393, 394, 395, 396, 397, 398, 399, 401, 402, 403, 404, 405, 406, 407, 408, 409, 411, 412, 413, 414, 415, 416, 417, 418, 421, 422, 423, 424, 426, 427, 428, 429, 437, 438, 439, 441, 442, 443, 445, 448, 449, 451, 452, 453, 454, 455, 456, 457, 459, 461, 462, 463, 464, 465, 466, 467, 468, 469, 471, 473, 477, 478, 479, 483, 487, 488, 489, 491, 497, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 511, 512, 513, 514, 515, 516, 517, 518, 519, 521, 522, 523, 524, 525, 526, 527, 528, 529, 531, 532, 541, 551, 555, 557, 558, 559, 561, 562, 563, 564, 565, 566, 567, 569, 581, 583, 584, 585, 587, 589, 599, 600, 615, 621, 622, 625, 626, 627, 628, 629, 631, 632, 635, 636, 637, 638, 639, 642, 643, 644, 645, 646, 647, 648, 649, 656, 657, 659, 663, 665, 666, 667, 668, 669, 672, 676, 677, 678, 679, 696, 697, 699, 700, 701, 702, 704, 705, 706, 709, 711, 713, 714, 715, 716, 717, 719, 721, 722, 723, 724, 725, 726, 727, 728, 729, 732, 733, 734, 735, 736, 737, 738, 739, 742, 743, 745, 747, 749, 752, 753, 755, 756, 758, 759, 762, 763, 764, 765, 766, 767, 768, 769, 771, 772, 773, 774, 775, 776, 777, 778, 779, 782, 783, 784, 785, 787, 788, 789, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 811, 812, 813, 814, 815, 816, 817, 818, 819, 821, 822, 823, 824, 825, 826, 827, 828, 829, 831, 832, 833, 834, 835, 836, 837, 838, 839, 841, 842, 843, 847, 848, 849, 851, 852, 853, 854, 855, 857, 858, 859, 861, 871, 872, 881, 882, 883, 884, 885, 886, 887, 889, 891, 892, 893, 895, 896, 897, 898, 899, 900, 901, 902, 904, 905, 906, 909, 911, 914, 915, 916, 917, 919, 921, 922, 923, 926, 927, 929, 931, 932, 933, 934, 935, 936, 937, 938, 939, 941, 942, 943, 944, 945, 946, 948, 952, 955, 957, 958, 961, 963, 964, 966, 969, 971, 974, 976, 979, 981, 983, 984, 985, 989, 991, 994, 995, 998, 1000, 1001, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1021, 1022, 1023, 1024, 1025, 1027, 1028, 1029, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1039, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1053, 1061, 1063, 1065, 1067, 1068, 1075, 1077, 1078, 1079, 1083, 1087, 1088, 1089, 1091, 1094, 1097, 1098, 1099, 1100, 1101, 1102, 1105, 1107, 1109, 1112, 1113, 1115, 1116, 1117, 1118, 1119, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1151, 1152, 1153, 1157, 1158, 1159, 1161, 1162, 1163, 1169, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1181, 1183, 1184, 1185, 1186, 1189, 1195, 1199, 1200, 1203, 1204, 1205, 1207, 1208, 1209, 1211, 1213, 1215, 1218, 1219, 1231, 1232, 1233, 1235, 1239, 1241, 1242, 1243, 1245, 1248, 1249, 1251, 1252, 1253, 1255, 1256, 1257, 1258, 1259, 1263, 1265, 1266, 1267, 1268, 1269, 1273, 1283, 1293, 1300, 1303, 1307, 1309, 1311, 1313, 1317, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1331, 1333, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1351, 1352, 1353, 1354, 1361, 1362, 1363, 1364, 1365, 1367, 1371, 1372, 1373, 1375, 1377, 1381, 1383, 1385, 1391, 1393, 1394, 1395, 1400, 1401, 1402, 1403, 1405, 1406, 1407, 1408, 1409, 1411, 1412, 1413, 1414, 1415, 1416, 1424, 1425, 1426, 1427, 1428, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1441, 1443, 1444, 1445, 1446, 1449, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1479, 1483, 1484, 1485, 1486, 1487, 1488, 1489, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1501, 1502, 1503, 1504, 1505, 1506, 1508, 1509, 1511, 1512, 1513, 1514, 1515, 1516, 1517, 1519, 1521, 1522, 1523, 1524, 1525, 1526, 1527, 1529, 1531, 1532, 1533, 1535, 1537, 1538, 1539, 1541, 1542, 1543, 1544, 1545, 1546, 1547, 1548, 1549, 1551, 1553, 1555, 1557, 1558, 1559, 1562, 1563, 1565, 1566, 1567, 1569, 1581, 1583, 1585, 1586, 1587, 1588, 1589, 1591, 1595, 1596, 1599, 1600, 1601, 1602, 1603, 1605, 1606, 1608, 1611, 1612, 1613, 1614, 1615, 1617, 1618, 1619, 1621, 1622, 1623, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1641, 1642, 1643, 1645, 1646, 1648, 1651, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1661, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1671, 1672, 1673, 1675, 1676, 1677, 1678, 1679, 1681, 1682, 1683, 1684, 1685, 1686, 1687, 1689, 1691, 1693, 1695, 1698, 1699, 1700, 1701, 1703, 1705, 1707, 1708, 1709, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1721, 1722, 1723, 1725, 1727, 1728, 1729, 1732, 1735, 1736, 1737, 1738, 1739, 1743, 1745, 1747, 1749, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1781, 1782, 1783, 1784, 1785, 1787, 1788, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1801, 1802, 1803, 1804, 1805, 1806, 1821, 1822, 1823, 1824, 1826, 1827, 1829, 1831, 1832, 1834, 1835, 1836, 1837, 1838, 1839, 1841, 1842, 1844, 1846, 1849, 1851, 1861, 1862, 1863, 1864, 1871, 1881, 1891, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1911, 1912, 1913, 1915, 1916, 1917, 1918, 1919, 1921, 1924, 1925, 1931, 1934, 1935, 1936, 1941, 1942, 1943, 1944, 1945, 1951, 1952, 1954, 1955, 1956, 1958, 1959, 1961, 1962, 1963, 1964, 1966, 1967, 1969, 1971, 1972, 1974, 1975, 1977, 1979, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1991, 1993, 1994, 1995, 1996, 1998, 1999, 2001, 2002, 2004, 2005, 2011, 2013, 2014, 2015, 2016, 2017, 2019, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2029, 2031, 2033, 2034, 2035, 2036, 2038, 2039, 2041, 2042, 2044, 2045, 2046, 2049, 2053, 2054, 2055, 2056, 2058, 2062, 2063, 2064, 2069, 2071, 2073, 2074, 2076, 2079, 2081, 2083, 2088, 2091, 2093, 2097, 2099, 2101, 2102, 2103, 2104, 2105, 2106, 2107, 2111, 2113, 2114, 2115, 2118, 2125, 2126, 2128, 2129, 2131, 2132, 2133, 2134, 2136, 2137, 2138, 2139, 2141, 2142, 2143, 2144, 2145, 2146, 2147, 2148, 2149, 2155, 2156, 2157, 2158, 2159, 2161, 2162, 2169, 2172, 2173, 2175, 2177, 2183, 2185, 2187, 2189, 2196, 2197, 2198, 2199]


--- crime_severity ---
[1, 2]


--- crime_code ---
[110, 113, 121, 122, 210, 220, 230, 231, 235, 236, 237, 250, 251, 310, 320, 330, 331, 341, 343, 345, 347, 349, 350, 351, 352, 353, 354, 410, 420, 421, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 450, 451, 452, 453, 470, 471, 473, 474, 475, 480, 485, 487, 510, 520, 522, 622, 623, 624, 625, 626, 627, 647, 648, 649, 651, 652, 653, 654, 660, 661, 662, 664, 666, 668, 670, 740, 745, 753, 755, 756, 760, 761, 762, 763, 805, 806, 810, 812, 813, 814, 815, 820, 821, 822, 830, 840, 845, 850, 860, 865, 870, 880, 882, 884, 886, 888, 890, 900, 901, 902, 903, 904, 906, 910, 920, 921, 922, 924, 926, 928, 930, 931, 932, 933, 940, 942, 943, 944, 946, 948, 949, 950, 951, 954, 956]


--- crime_desc ---
['ARSON', 'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER', 'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT', 'ATTEMPTED ROBBERY', 'BATTERY - SIMPLE ASSAULT', 'BATTERY ON A FIREFIGHTER', 'BATTERY POLICE (SIMPLE)', 'BATTERY WITH SEXUAL CONTACT', 'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM', 'BIGAMY', 'BIKE - ATTEMPTED STOLEN', 'BIKE - STOLEN', 'BLOCKING DOOR INDUCTION CENTER', 'BOAT - STOLEN', 'BOMB SCARE', 'BRANDISH WEAPON', 'BRIBERY', 'BUNCO, ATTEMPT', 'BUNCO, GRAND THEFT', 'BUNCO, PETTY THEFT', 'BURGLARY', 'BURGLARY FROM VEHICLE', 'BURGLARY FROM VEHICLE, ATTEMPTED', 'BURGLARY, ATTEMPTED', 'CHILD ABANDONMENT', 'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT', 'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT', 'CHILD ANNOYING (17YRS & UNDER)', 'CHILD NEGLECT (SEE 300 W.I.C.)', 'CHILD PORNOGRAPHY', 'CHILD STEALING', 'CONSPIRACY', 'CONTEMPT OF COURT', 'CONTRIBUTING', 'COUNTERFEIT', 'CREDIT CARDS, FRAUD USE ($950 & UNDER', 'CREDIT CARDS, FRAUD USE ($950.01 & OVER)', 'CRIMINAL HOMICIDE', 'CRIMINAL THREATS - NO WEAPON DISPLAYED', 'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)', 'CRUELTY TO ANIMALS', 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER', 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01', 'DISCHARGE FIREARMS/SHOTS FIRED', 'DISHONEST EMPLOYEE - GRAND THEFT', 'DISHONEST EMPLOYEE - PETTY THEFT', 'DISHONEST EMPLOYEE ATTEMPTED THEFT', 'DISRUPT SCHOOL', 'DISTURBING THE PEACE', 'DOCUMENT FORGERY / STOLEN FELONY', 'DOCUMENT WORTHLESS ($200 & UNDER)', 'DOCUMENT WORTHLESS ($200.01 & OVER)', 'DRIVING WITHOUT OWNER CONSENT (DWOC)', 'DRUGS, TO A MINOR', 'DRUNK ROLL', 'DRUNK ROLL - ATTEMPT', 'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)', 'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)', 'EXTORTION', 'FAILURE TO DISPERSE', 'FAILURE TO YIELD', 'FALSE IMPRISONMENT', 'FALSE POLICE REPORT', 'FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)', 'FIREARMS RESTRAINING ORDER (FIREARMS RO)', 'GRAND THEFT / AUTO REPAIR', 'GRAND THEFT / INSURANCE FRAUD', 'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS', 'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE', 'ILLEGAL DUMPING', 'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)', 'INCITING A RIOT', 'INDECENT EXPOSURE', 'INTIMATE PARTNER - AGGRAVATED ASSAULT', 'INTIMATE PARTNER - SIMPLE ASSAULT', 'KIDNAPPING', 'KIDNAPPING - GRAND ATTEMPT', 'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD', 'LEWD CONDUCT', 'LEWD/LASCIVIOUS ACTS WITH CHILD', 'LYNCHING', 'LYNCHING - ATTEMPTED', 'MANSLAUGHTER, NEGLIGENT', 'ORAL COPULATION', 'OTHER ASSAULT', 'OTHER MISCELLANEOUS CRIME', 'PANDERING', 'PEEPING TOM', 'PETTY THEFT - AUTO REPAIR', 'PICKPOCKET', 'PICKPOCKET, ATTEMPT', 'PIMPING', 'PROWLER', 'PURSE SNATCHING', 'PURSE SNATCHING - ATTEMPT', 'RAPE, ATTEMPTED', 'RAPE, FORCIBLE', 'RECKLESS DRIVING', 'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)', 'RESISTING ARREST', 'ROBBERY', 'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE', 'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ', 'SEXUAL PENETRATION W/FOREIGN OBJECT', 'SHOPLIFTING - ATTEMPT', 'SHOPLIFTING - PETTY THEFT ($950 & UNDER)', 'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)', 'SHOTS FIRED AT INHABITED DWELLING', 'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT', 'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH', 'STALKING', 'TELEPHONE PROPERTY - DAMAGE', 'THEFT FROM MOTOR VEHICLE - ATTEMPT', 'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)', 'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)', 'THEFT FROM PERSON - ATTEMPT', 'THEFT OF IDENTITY', 'THEFT PLAIN - ATTEMPT', 'THEFT PLAIN - PETTY ($950 & UNDER)', 'THEFT, COIN MACHINE - ATTEMPT', 'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)', 'THEFT, COIN MACHINE - PETTY ($950 & UNDER)', 'THEFT, PERSON', 'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD', 'THREATENING PHONE CALLS/LETTERS', 'THROWING OBJECT AT MOVING VEHICLE', 'TILL TAP - GRAND THEFT ($950.01 & OVER)', 'TILL TAP - PETTY ($950 & UNDER)', 'TRAIN WRECKING', 'TRESPASSING', 'UNAUTHORIZED COMPUTER ACCESS', 'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)', 'VANDALISM - MISDEAMEANOR ($399 OR UNDER)', 'VEHICLE - ATTEMPT STOLEN', 'VEHICLE - STOLEN', 'VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BIKES, ETC)', 'VIOLATION OF COURT ORDER', 'VIOLATION OF RESTRAINING ORDER', 'VIOLATION OF TEMPORARY RESTRAINING ORDER', 'WEAPONS POSSESSION/BOMBING']


--- sex_victim ---
['-', 'F', 'H', 'M', 'X']


--- descent_victim ---
['-', 'A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'O', 'P', 'S', 'U', 'V', 'W', 'X', 'Z']


--- loc_code ---
[101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 112.0, 113.0, 114.0, 115.0, 116.0, 117.0, 118.0, 119.0, 120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126.0, 127.0, 128.0, 129.0, 135.0, 136.0, 137.0, 138.0, 139.0, 140.0, 141.0, 142.0, 143.0, 144.0, 145.0, 146.0, 147.0, 148.0, 149.0, 150.0, 151.0, 152.0, 154.0, 155.0, 156.0, 157.0, 158.0, 201.0, 202.0, 203.0, 204.0, 205.0, 206.0, 207.0, 208.0, 209.0, 210.0, 211.0, 212.0, 213.0, 214.0, 215.0, 216.0, 217.0, 218.0, 219.0, 220.0, 221.0, 222.0, 223.0, 224.0, 225.0, 227.0, 228.0, 229.0, 230.0, 231.0, 232.0, 233.0, 234.0, 235.0, 236.0, 237.0, 238.0, 239.0, 240.0, 241.0, 242.0, 243.0, 244.0, 245.0, 246.0, 247.0, 248.0, 249.0, 250.0, 251.0, 252.0, 253.0, 254.0, 255.0, 256.0, 301.0, 302.0, 303.0, 304.0, 305.0, 401.0, 402.0, 403.0, 404.0, 405.0, 406.0, 407.0, 408.0, 409.0, 410.0, 411.0, 412.0, 413.0, 414.0, 415.0, 416.0, 417.0, 418.0, 501.0, 502.0, 503.0, 504.0, 505.0, 506.0, 507.0, 508.0, 509.0, 510.0, 511.0, 512.0, 513.0, 514.0, 515.0, 516.0, 517.0, 518.0, 519.0, 601.0, 602.0, 603.0, 604.0, 605.0, 606.0, 607.0, 608.0, 701.0, 702.0, 703.0, 704.0, 705.0, 706.0, 707.0, 708.0, 709.0, 710.0, 711.0, 712.0, 713.0, 714.0, 715.0, 716.0, 717.0, 718.0, 719.0, 720.0, 721.0, 722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728.0, 729.0, 730.0, 731.0, 732.0, 733.0, 734.0, 735.0, 736.0, 737.0, 738.0, 739.0, 740.0, 741.0, 742.0, 743.0, 744.0, 745.0, 746.0, 748.0, 750.0, 751.0, 752.0, 753.0, 754.0, 755.0, 756.0, 757.0, 758.0, 801.0, 802.0, 803.0, 804.0, 805.0, 809.0, 810.0, 811.0, 834.0, 835.0, 836.0, 868.0, 869.0, 870.0, 871.0, 872.0, 873.0, 874.0, 875.0, 876.0, 877.0, 878.0, 879.0, 880.0, 882.0, 883.0, 884.0, 885.0, 889.0, 890.0, 891.0, 892.0, 893.0, 894.0, 895.0, 896.0, 897.0, 898.0, 900.0, 901.0, 902.0, 903.0, 904.0, 905.0, 906.0, 907.0, 908.0, 909.0, 910.0, 911.0, 912.0, 913.0, 915.0, 916.0, 917.0, 918.0, 919.0, 920.0, 921.0, 922.0, 931.0, 932.0, 933.0, 934.0, 935.0, 936.0, 937.0, 940.0, 941.0, 942.0, 943.0, 944.0, 945.0, 946.0, 947.0, 948.0, 949.0, 950.0, 951.0, 952.0, 953.0, 954.0, 956.0, 957.0, 958.0, 961.0, 962.0, 963.0, 964.0, 965.0, 966.0, 967.0, 968.0, 969.0, 970.0, 971.0, 972.0, 973.0, 974.0, 975.0, 976.0]


--- loc_desc ---

## **Vamos a trabajar en investigar la relaci√≥n de c√≥digos varios en el dataset. **

# üìÑ Unique Values Summary

## area_code
`1, 2, 3, ..., 21`

## area_name
`'77th Street', 'Central', 'Devonshire', 'Foothill', 'Harbor', 'Hollenbeck', 'Hollywood', 'Mission', 'N Hollywood', 'Newton', 'Northeast', 'Olympic', 'Pacific', 'Rampart', 'Southeast', 'Southwest', 'Topanga', 'Van Nuys', 'West LA', 'West Valley', 'Wilshire'`

## district
`101, 105, 109, 111, ..., 2199`  
(Muchos valores √∫nicos de distrito, c√≥digos de zonas espec√≠ficas)

## crime_severity
`1, 2`

## crime_code
`110, 113, 121, 122, 210, 220, 230, 231, ..., 956`

## crime_desc
`'ARSON', 'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER', 'BATTERY - SIMPLE ASSAULT', 'BIKE - STOLEN', 'BURGLARY', 'BURGLARY FROM VEHICLE', ..., 'WEAPONS POSSESSION/BOMBING'`
(M√°s de 100 tipos de cr√≠menes diferentes)

## crime_mo
`C√≥digos tipo '0344 1822 1402', '0930', '0913 2024' etc.`  
(Modus Operandi combinados por c√≥digo)

## sex_victim
`'-', 'F', 'H', 'M', 'X'`
(Indica sexo: Femenino, Masculino, Indeterminado, No reportado)

## descent_victim
`'-', 'A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'O', 'P', 'S', 'U', 'V', 'W', 'X', 'Z'`
(Origen √©tnico de la v√≠ctima)

## loc_code
`101.0, 102.0, 103.0, ..., 976.0`
(Muchos c√≥digos de localizaci√≥n)

## loc_desc
`'STREET', 'BUS STOP', 'PARKING LOT', 'SINGLE FAMILY DWELLING', 'SCHOOL', 'HOSPITAL', 'HOTEL', 'MARKET', ..., 'YARD (RESIDENTIAL/BUSINESS)'`
(Lugares donde ocurrieron los cr√≠menes)

## weapon_code
`101.0, 102.0, ..., 516.0`

## weapon_desc
`'HAND GUN', 'KNIFE WITH BLADE 6INCHES OR LESS', 'STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)', 'UNKNOWN FIREARM', 'VERBAL THREAT', ...`
(Descripci√≥n de armas usadas)

## case_status_code
`'AA', 'AO', 'CC', 'IC', 'JA', 'JO'`
(C√≥digos de estatus del caso)

## case_status_desc
`'Adult Arrest', 'Adult Other', 'Invest Cont', 'Juv Arrest', 'Juv Other', 'UNK'`
(Descripci√≥n del estatus del caso)

##1. Investigaci√≥n de las √°reas.

In [20]:
# Primero aseguramos que district sea string para extraer area_code
df['district'] = df['district'].astype(str)

# Sacamos el primer d√≠gito como √°rea (puedes usar 1 o 2 d√≠gitos seg√∫n precisi√≥n)
df['area_code'] = df['district'].str[0].astype(int)

# Mapeo de area_code a area_name
area_mapping = {
    1: '77th Street',
    2: 'Central',
    3: 'Devonshire',
    4: 'Foothill',
    5: 'Harbor',
    6: 'Hollenbeck',
    7: 'Hollywood',
    8: 'Mission',
    9: 'N Hollywood',
    10: 'Newton',
    11: 'Northeast',
    12: 'Olympic',
    13: 'Pacific',
    14: 'Rampart',
    15: 'Southeast',
    16: 'Southwest',
    17: 'Topanga',
    18: 'Van Nuys',
    19: 'West LA',
    20: 'West Valley',
    21: 'Wilshire'
}

# Asignamos nombre al √°rea
df['area_name'] = df['area_code'].map(area_mapping)

# Verificamos si el mapeo est√° correcto
print(df[['district', 'area_code', 'area_name']].head())

# Contar registros por area_name
print(df['area_name'].value_counts())

  district  area_code    area_name
0      784          7    Hollywood
1      182          1  77th Street
2      356          3   Devonshire
3      964          9  N Hollywood
4      666          6   Hollenbeck
area_name
77th Street    531859
Central        135803
Devonshire      56259
Hollenbeck      51510
Hollywood       47272
Mission         44848
N Hollywood     42059
Harbor          40603
Foothill        36287
Name: count, dtype: int64

In [21]:
import pandas as pd

# Definimos el listado completo de √°reas (en el orden correcto)
area_names = [
    '77th Street', 'Central', 'Devonshire', 'Foothill', 'Harbor', 'Hollenbeck',
    'Hollywood', 'Mission', 'N Hollywood', 'Newton', 'Northeast', 'Olympic',
    'Pacific', 'Rampart', 'Southeast', 'Southwest', 'Topanga', 'Van Nuys',
    'West LA', 'West Valley', 'Wilshire'
]

# Hacemos el conteo de registros por area_name
area_counts = df['area_name'].value_counts()

# Aseguramos que todos los nombres est√©n incluidos (incluso los que faltan)
area_counts = area_counts.reindex(area_names, fill_value=0)

# Ahora, buscamos las √°reas con 0 cr√≠menes
areas_sin_crimen = area_counts[area_counts == 0]

# Mostrar √°reas sin cr√≠menes
print("√Åreas donde no hubo cr√≠menes registrados:")
print(areas_sin_crimen)

√Åreas donde no hubo cr√≠menes registrados:
area_name
Newton         0
Northeast      0
Olympic        0
Pacific        0
Rampart        0
Southeast      0
Southwest      0
Topanga        0
Van Nuys       0
West LA        0
West Valley    0
Wilshire       0
Name: count, dtype: int64

In [22]:
# Definimos las 21 √°reas oficiales
area_names = [
    '77th Street', 'Central', 'Devonshire', 'Foothill', 'Harbor', 'Hollenbeck',
    'Hollywood', 'Mission', 'N Hollywood', 'Newton', 'Northeast', 'Olympic',
    'Pacific', 'Rampart', 'Southeast', 'Southwest', 'Topanga', 'Van Nuys',
    'West LA', 'West Valley', 'Wilshire'
]

# 1. Conteo de cr√≠menes por √°rea
area_counts = df['area_name'].value_counts()

# 2. Asegurarnos que todas las √°reas est√©n (rellenar con 0 si no existen)
area_counts = area_counts.reindex(area_names, fill_value=0)

# 3. Detectar √°reas sin cr√≠menes
areas_sin_crimen = area_counts[area_counts == 0].index.tolist()

print("√Åreas donde no hubo cr√≠menes:")
print(areas_sin_crimen)

# 4. Filtrar el df para filas con esas √°reas (deber√≠a estar vac√≠o, o muy peque√±o si algo raro pas√≥)
df_sin_crimenes = df[df['area_name'].isin(areas_sin_crimen)]

# 5. Mostrar las filas
print(df_sin_crimenes)

√Åreas donde no hubo cr√≠menes:
['Newton', 'Northeast', 'Olympic', 'Pacific', 'Rampart', 'Southeast', 'Southwest', 'Topanga', 'Van Nuys', 'West LA', 'West Valley', 'Wilshire']
Empty DataFrame
Columns: [id_report, date_report, date_ocurrance, time_ocurrance, area_code, area_name, district, crime_severity, crime_code, crime_desc, crime_mo, age_victim, sex_victim, descent_victim, loc_code, loc_desc, weapon_code, weapon_desc, case_status_code, case_status_desc, crime_code_1, crime_code_2, crime_code_3, crime_code_4, location, cross_street, latitude, longitude]
Index: []

[0 rows x 28 columns]

Resumen:
9 √°reas s√≠ tienen cr√≠menes (las que viste antes: 77th Street, Central, Devonshire, etc.).

12 √°reas no tienen cr√≠menes en tus datos actuales.

No hay errores de mapeo en district, area_code ni area_name.

## 2. Investigaci√≥n Distritos.

In [25]:
# Mostrar los valores √∫nicos de la columna 'district'
if 'district' in df.columns:
    print("--- district ---")
    print(sorted(df['district'].dropna().unique()))
    print("\n")
else:
    print("Column 'district' not found in the dataframe.\n")

--- district ---
['1000', '1001', '1003', '1004', '1005', '1006', '1007', '1008', '1009', '101', '1011', '1012', '1013', '1014', '1015', '1016', '1017', '1018', '1019', '1021', '1022', '1023', '1024', '1025', '1027', '1028', '1029', '1031', '1032', '1033', '1034', '1035', '1036', '1037', '1039', '1041', '1042', '1043', '1044', '1045', '1046', '1047', '1048', '1049', '105', '1053', '1061', '1063', '1065', '1067', '1068', '1075', '1077', '1078', '1079', '1083', '1087', '1088', '1089', '109', '1091', '1094', '1097', '1098', '1099', '1100', '1101', '1102', '1105', '1107', '1109', '111', '1112', '1113', '1115', '1116', '1117', '1118', '1119', '112', '1122', '1123', '1124', '1125', '1126', '1127', '1128', '1129', '1132', '1133', '1134', '1135', '1136', '1137', '1138', '1139', '1141', '1142', '1143', '1144', '1145', '1146', '1147', '1148', '1149', '1151', '1152', '1153', '1157', '1158', '1159', '1161', '1162', '1163', '1169', '1171', '1172', '1173', '1174', '1175', '1176', '1177', '1178', '1179', '118', '1181', '1183', '1184', '1185', '1186', '1189', '119', '1195', '1199', '1200', '1203', '1204', '1205', '1207', '1208', '1209', '121', '1211', '1213', '1215', '1218', '1219', '122', '123', '1231', '1232', '1233', '1235', '1239', '124', '1241', '1242', '1243', '1245', '1248', '1249', '1251', '1252', '1253', '1255', '1256', '1257', '1258', '1259', '1263', '1265', '1266', '1267', '1268', '1269', '127', '1273', '128', '1283', '129', '1293', '1300', '1303', '1307', '1309', '131', '1311', '1313', '1317', '132', '1321', '1322', '1323', '1324', '1325', '1326', '1327', '133', '1331', '1333', '134', '1341', '1342', '1343', '1344', '1345', '1346', '1347', '135', '1351', '1352', '1353', '1354', '1361', '1362', '1363', '1364', '1365', '1367', '1371', '1372', '1373', '1375', '1377', '138', '1381', '1383', '1385', '139', '1391', '1393', '1394', '1395', '1400', '1401', '1402', '1403', '1405', '1406', '1407', '1408', '1409', '141', '1411', '1412', '1413', '1414', '1415', '1416', '142', '1424', '1425', '1426', '1427', '1428', '143', '1431', '1432', '1433', '1434', '1435', '1436', '1437', '1438', '144', '1441', '1443', '1444', '1445', '1446', '1449', '145', '1451', '1452', '1453', '1454', '1455', '1456', '1457', '1458', '1459', '146', '1462', '1463', '1464', '1465', '1466', '1467', '1468', '1469', '147', '1471', '1472', '1473', '1474', '1475', '1476', '1477', '1479', '148', '1483', '1484', '1485', '1486', '1487', '1488', '1489', '1491', '1492', '1493', '1494', '1495', '1496', '1497', '1498', '1499', '1501', '1502', '1503', '1504', '1505', '1506', '1508', '1509', '151', '1511', '1512', '1513', '1514', '1515', '1516', '1517', '1519', '152', '1521', '1522', '1523', '1524', '1525', '1526', '1527', '1529', '153', '1531', '1532', '1533', '1535', '1537', '1538', '1539', '154', '1541', '1542', '1543', '1544', '1545', '1546', '1547', '1548', '1549', '155', '1551', '1553', '1555', '1557', '1558', '1559', '156', '1562', '1563', '1565', '1566', '1567', '1569', '157', '158', '1581', '1583', '1585', '1586', '1587', '1588', '1589', '159', '1591', '1595', '1596', '1599', '1600', '1601', '1602', '1603', '1605', '1606', '1608', '161', '1611', '1612', '1613', '1614', '1615', '1617', '1618', '1619', '162', '1621', '1622', '1623', '163', '1633', '1634', '1635', '1636', '1637', '1638', '1639', '164', '1641', '1642', '1643', '1645', '1646', '1648', '165', '1651', '1653', '1654', '1655', '1656', '1657', '1658', '1659', '166', '1661', '1663', '1664', '1665', '1666', '1667', '1668', '1669', '1671', '1672', '1673', '1675', '1676', '1677', '1678', '1679', '1681', '1682', '1683', '1684', '1685', '1686', '1687', '1689', '1691', '1693', '1695', '1698', '1699', '1700', '1701', '1703', '1705', '1707', '1708', '1709', '171', '1712', '1713', '1714', '1715', '1716', '1717', '1718', '1719', '1721', '1722', '1723', '1725', '1727', '1728', '1729', '1732', '1735', '1736', '1737', '1738', '1739', '174', '1743', '1745', '1747', '1749', '1751', '1752', '1753', '1754', '1755', '1756', '1757', '1758', '1759', '176', '1761', '1762', '1763', '1764', '1765', '1766', '1767', '1768', '1771', '1772', '1773', '1774', '1775', '1776', '1777', '1778', '1779', '1781', '1782', '1783', '1784', '1785', '1787', '1788', '1791', '1792', '1793', '1794', '1795', '1796', '1797', '1798', '1799', '1801', '1802', '1803', '1804', '1805', '1806', '181', '182', '1821', '1822', '1823', '1824', '1826', '1827', '1829', '1831', '1832', '1834', '1835', '1836', '1837', '1838', '1839', '1841', '1842', '1844', '1846', '1849', '185', '1851', '1861', '1862', '1863', '1864', '1871', '1881', '1891', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1908', '1909', '191', '1911', '1912', '1913', '1915', '1916', '1917', '1918', '1919', '192', '1921', '1924', '1925', '1931', '1934', '1935', '1936', '1941', '1942', '1943', '1944', '1945', '195', '1951', '1952', '1954', '1955', '1956', '1958', '1959', '1961', '1962', '1963', '1964', '1966', '1967', '1969', '1971', '1972', '1974', '1975', '1977', '1979', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1991', '1993', '1994', '1995', '1996', '1998', '1999', '2001', '2002', '2004', '2005', '201', '2011', '2013', '2014', '2015', '2016', '2017', '2019', '202', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2029', '203', '2031', '2033', '2034', '2035', '2036', '2038', '2039', '204', '2041', '2042', '2044', '2045', '2046', '2049', '205', '2053', '2054', '2055', '2056', '2058', '2062', '2063', '2064', '2069', '2071', '2073', '2074', '2076', '2079', '2081', '2083', '2088', '2091', '2093', '2097', '2099', '2101', '2102', '2103', '2104', '2105', '2106', '2107', '211', '2111', '2113', '2114', '2115', '2118', '212', '2125', '2126', '2128', '2129', '213', '2131', '2132', '2133', '2134', '2136', '2137', '2138', '2139', '2141', '2142', '2143', '2144', '2145', '2146', '2147', '2148', '2149', '215', '2155', '2156', '2157', '2158', '2159', '216', '2161', '2162', '2169', '217', '2172', '2173', '2175', '2177', '218', '2183', '2185', '2187', '2189', '219', '2196', '2197', '2198', '2199', '221', '224', '225', '226', '231', '233', '234', '235', '236', '237', '238', '239', '241', '242', '244', '245', '246', '247', '248', '249', '251', '252', '254', '256', '257', '261', '265', '266', '267', '269', '271', '275', '277', '279', '281', '285', '289', '291', '292', '295', '299', '301', '303', '305', '307', '308', '309', '311', '312', '313', '314', '315', '316', '317', '318', '319', '321', '325', '326', '327', '328', '329', '331', '332', '333', '334', '335', '336', '337', '338', '341', '343', '351', '353', '354', '355', '356', '357', '358', '359', '361', '362', '363', '373', '374', '375', '376', '377', '378', '379', '391', '392', '393', '394', '395', '396', '397', '398', '399', '401', '402', '403', '404', '405', '406', '407', '408', '409', '411', '412', '413', '414', '415', '416', '417', '418', '421', '422', '423', '424', '426', '427', '428', '429', '437', '438', '439', '441', '442', '443', '445', '448', '449', '451', '452', '453', '454', '455', '456', '457', '459', '461', '462', '463', '464', '465', '466', '467', '468', '469', '471', '473', '477', '478', '479', '483', '487', '488', '489', '491', '497', '499', '500', '501', '502', '503', '504', '505', '506', '507', '508', '509', '511', '512', '513', '514', '515', '516', '517', '518', '519', '521', '522', '523', '524', '525', '526', '527', '528', '529', '531', '532', '541', '551', '555', '557', '558', '559', '561', '562', '563', '564', '565', '566', '567', '569', '581', '583', '584', '585', '587', '589', '599', '600', '615', '621', '622', '625', '626', '627', '628', '629', '631', '632', '635', '636', '637', '638', '639', '642', '643', '644', '645', '646', '647', '648', '649', '656', '657', '659', '663', '665', '666', '667', '668', '669', '672', '676', '677', '678', '679', '696', '697', '699', '700', '701', '702', '704', '705', '706', '709', '711', '713', '714', '715', '716', '717', '719', '721', '722', '723', '724', '725', '726', '727', '728', '729', '732', '733', '734', '735', '736', '737', '738', '739', '742', '743', '745', '747', '749', '752', '753', '755', '756', '758', '759', '762', '763', '764', '765', '766', '767', '768', '769', '771', '772', '773', '774', '775', '776', '777', '778', '779', '782', '783', '784', '785', '787', '788', '789', '800', '801', '802', '803', '804', '805', '806', '807', '808', '809', '811', '812', '813', '814', '815', '816', '817', '818', '819', '821', '822', '823', '824', '825', '826', '827', '828', '829', '831', '832', '833', '834', '835', '836', '837', '838', '839', '841', '842', '843', '847', '848', '849', '851', '852', '853', '854', '855', '857', '858', '859', '861', '871', '872', '881', '882', '883', '884', '885', '886', '887', '889', '891', '892', '893', '895', '896', '897', '898', '899', '900', '901', '902', '904', '905', '906', '909', '911', '914', '915', '916', '917', '919', '921', '922', '923', '926', '927', '929', '931', '932', '933', '934', '935', '936', '937', '938', '939', '941', '942', '943', '944', '945', '946', '948', '952', '955', '957', '958', '961', '963', '964', '966', '969', '971', '974', '976', '979', '981', '983', '984', '985', '989', '991', '994', '995', '998']

In [26]:
# Asegurar que 'district' es string para extraer prefijos f√°cilmente
df['district'] = df['district'].astype(str)

# Extraer primer d√≠gito (o primeros dos d√≠gitos si quieres m√°s precisi√≥n)
df['area_code'] = df['district'].str[0].astype(int)

# Opcionalmente, si quieres extraer dos primeros d√≠gitos:
# df['area_code'] = df['district'].str[:2].astype(int)

# Definir los √°reas v√°lidas (1 al 21)
valid_areas = list(range(1, 22))

# Marcar si es un √°rea v√°lida
df['area_valid'] = df['area_code'].isin(valid_areas)

# Verificar resultados
print(df['area_valid'].value_counts())

# Ver ejemplos
print(df[['district', 'area_code', 'area_valid']].head())

area_valid
True    986500
Name: count, dtype: int64
  district  area_code  area_valid
0      784          7        True
1      182          1        True
2      356          3        True
3      964          9        True
4      666          6        True

In [27]:
# Contar cu√°ntos registros NO son v√°lidos
invalid_count = (~df['area_valid']).sum()

print(f"Cantidad de registros con area_valid == False: {invalid_count}")

Cantidad de registros con area_valid == False: 0

##3. Relaci√≥n entre crime_code y crime_desc

Los crime_code y crime_desc que tienes provienen directamente de los reportes oficiales del LAPD (Los Angeles Police Department).

Cada "crime_code" es un tipo de crimen espec√≠fico, basado en su severidad y en las leyes de California.

No es una clasificaci√≥n inventada, es est√°ndar dentro del departamento, usado para categorizar las denuncias.

In [30]:
# Comprobar si un mismo crime_code tiene varias descripciones
crime_mapping = df[['crime_code', 'crime_desc']].drop_duplicates()

# Verificar duplicados de crime_code
duplicates = crime_mapping.duplicated(subset=['crime_code'], keep=False)
crime_mapping[duplicates]

Empty DataFrame
Columns: [crime_code, crime_desc]
Index: []

Si no salen filas, la relaci√≥n es uno a uno ‚úÖ.

In [32]:
# Crear tabla resumen de c√≥digos de crimen y su descripci√≥n
crime_table = df[['crime_code', 'crime_desc']].drop_duplicates().sort_values('crime_code')

# Mostrar la tabla
crime_table.reset_index(drop=True, inplace=True)
crime_table

     crime_code                                         crime_desc
0           110                                  CRIMINAL HOMICIDE
1           113                            MANSLAUGHTER, NEGLIGENT
2           121                                     RAPE, FORCIBLE
3           122                                    RAPE, ATTEMPTED
4           210                                            ROBBERY
..          ...                                                ...
135         949                                    ILLEGAL DUMPING
136         950  DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $...
137         951  DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 &...
138         954                                       CONTRIBUTING
139         956            LETTERS, LEWD  -  TELEPHONE CALLS, LEWD

[140 rows x 2 columns]

In [33]:
crime_table.to_csv('crime_code_description.csv', index=False)

Vamos a generar una agrupaci√≥n de todos estos delitos en base al standard UCR (Uniform Crime Reporting)

In [35]:
import pandas as pd

# Suponemos que tienes un DataFrame llamado 'df' con las columnas 'crime_code' y 'crime_desc'

# Mapeo de crime_codes a categor√≠as UCR
ucr_mapping = {
    # Part I - Violent Crimes
    110: 'HOMICIDE',
    113: 'MANSLAUGHTER',
    121: 'RAPE',
    122: 'ATTEMPTED RAPE',
    815: 'SEXUAL PENETRATION',
    820: 'ORAL COPULATION',
    821: 'SODOMY',
    210: 'ROBBERY',
    220: 'ROBBERY ATTEMPTED',
    230: 'AGGRAVATED ASSAULT',
    231: 'AGGRAVATED ASSAULT',
    235: 'AGGRAVATED ASSAULT',
    236: 'AGGRAVATED ASSAULT',
    250: 'AGGRAVATED ASSAULT',
    251: 'AGGRAVATED ASSAULT',
    761: 'AGGRAVATED ASSAULT',
    926: 'AGGRAVATED ASSAULT',
    435: 'SIMPLE ASSAULT',
    436: 'SIMPLE ASSAULT',
    437: 'SIMPLE ASSAULT',
    622: 'SIMPLE ASSAULT',
    623: 'SIMPLE ASSAULT',
    624: 'SIMPLE ASSAULT',
    625: 'SIMPLE ASSAULT',
    626: 'SIMPLE ASSAULT',
    627: 'SIMPLE ASSAULT',
    647: 'SIMPLE ASSAULT',
    763: 'SIMPLE ASSAULT',
    928: 'SIMPLE ASSAULT',
    930: 'SIMPLE ASSAULT',

    # Part I - Property Crimes
    310: 'BURGLARY',
    320: 'BURGLARY',
    510: 'MOTOR VEHICLE THEFT',
    520: 'MOTOR VEHICLE THEFT',
    433: 'MOTOR VEHICLE THEFT',
    330: 'THEFT FROM VEHICLE',
    331: 'THEFT FROM VEHICLE',
    410: 'THEFT FROM VEHICLE',
    420: 'THEFT FROM VEHICLE',
    421: 'THEFT FROM VEHICLE',
    350: 'PERSONAL THEFT',
    351: 'PERSONAL THEFT',
    352: 'PERSONAL THEFT',
    353: 'PERSONAL THEFT',
    450: 'PERSONAL THEFT',
    451: 'PERSONAL THEFT',
    452: 'PERSONAL THEFT',
    453: 'PERSONAL THEFT',
    341: 'OTHER THEFT',
    343: 'OTHER THEFT',
    345: 'OTHER THEFT',
    440: 'OTHER THEFT',
    441: 'OTHER THEFT',
    442: 'OTHER THEFT',
    443: 'OTHER THEFT',
    444: 'OTHER THEFT',
    445: 'OTHER THEFT',
    470: 'OTHER THEFT',
    471: 'OTHER THEFT',
    472: 'OTHER THEFT',
    473: 'OTHER THEFT',
    474: 'OTHER THEFT',
    475: 'OTHER THEFT',
    480: 'OTHER THEFT',
    485: 'OTHER THEFT',
    487: 'OTHER THEFT',
    491: 'OTHER THEFT',

    # Part II - Other Crimes
    500: 'DRUG OFFENSES',
    501: 'DRUG OFFENSES',
    502: 'DRUG OFFENSES',
    503: 'DRUG OFFENSES',
    504: 'DRUG OFFENSES',
    505: 'DRUG OFFENSES',
    506: 'DRUG OFFENSES',
    600: 'SIMPLE ASSAULT',
    601: 'SIMPLE ASSAULT',
    602: 'SIMPLE ASSAULT',
    603: 'SIMPLE ASSAULT',
    700: 'VANDALISM',
    701: 'VANDALISM',
    702: 'WEAPONS OFFENSE',
    703: 'WEAPONS OFFENSE',
    704: 'WEAPONS OFFENSE',
    705: 'WEAPONS OFFENSE',
    800: 'SEX OFFENSES (NON-RAPE)',
    801: 'SEX OFFENSES (NON-RAPE)',
    802: 'SEX OFFENSES (NON-RAPE)',
    803: 'SEX OFFENSES (NON-RAPE)',
    900: 'OTHER OFFENSES',
    901: 'OTHER OFFENSES',
    902: 'OTHER OFFENSES',
    903: 'OTHER OFFENSES',
    904: 'OTHER OFFENSES',
    905: 'OTHER OFFENSES',
    906: 'OTHER OFFENSES',
    907: 'OTHER OFFENSES'
}

# Crear nueva columna 'crime_ucr' basada en el mapping
df['crime_ucr'] = df['crime_code'].map(ucr_mapping).fillna('UNKNOWN')

# Si quieres ver los resultados
print(df[['crime_code', 'crime_desc', 'crime_ucr']].head())

   crime_code                                crime_desc            crime_ucr
0         510                          VEHICLE - STOLEN  MOTOR VEHICLE THEFT
1         330                     BURGLARY FROM VEHICLE   THEFT FROM VEHICLE
2         480                             BIKE - STOLEN          OTHER THEFT
3         343  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)          OTHER THEFT
4         354                         THEFT OF IDENTITY              UNKNOWN

In [36]:
df.columns

Index(['id_report', 'date_report', 'date_ocurrance', 'time_ocurrance',
       'area_code', 'area_name', 'district', 'crime_severity', 'crime_code',
       'crime_desc', 'crime_mo', 'age_victim', 'sex_victim', 'descent_victim',
       'loc_code', 'loc_desc', 'weapon_code', 'weapon_desc',
       'case_status_code', 'case_status_desc', 'crime_code_1', 'crime_code_2',
       'crime_code_3', 'crime_code_4', 'location', 'cross_street', 'latitude',
       'longitude', 'area_valid', 'crime_ucr'],
      dtype='object')

## 4. Investigaci√≥n de Sexo.

In [38]:
# 1. Primero, corregimos H -> M
df['sex_victim'] = df['sex_victim'].replace('H', 'M')

# 2. Definimos la lista v√°lida final
valores_validos_sexo = ['-', 'F', 'M', 'X']

# 3. Comprobamos de nuevo si queda todo limpio
print("Valores √∫nicos en sex_victim despu√©s de la correcci√≥n:")
print(df['sex_victim'].unique())

# 4. Opcional: identificar si queda algo inv√°lido
valores_invalidos = df[~df['sex_victim'].isin(valores_validos_sexo)]

print(f"\nCantidad de registros con sex_victim inv√°lido despu√©s de corregir: {len(valores_invalidos)}")

Valores √∫nicos en sex_victim despu√©s de la correcci√≥n:
['M' 'X' 'F' nan '-']

Cantidad de registros con sex_victim inv√°lido despu√©s de corregir: 139575

In [39]:
# Reemplazar nulos por '-'
df['sex_victim'] = df['sex_victim'].fillna('-')

# Volver a verificar
print("Valores √∫nicos en sex_victim despu√©s de rellenar NaN:")
print(df['sex_victim'].unique())

Valores √∫nicos en sex_victim despu√©s de rellenar NaN:
['M' 'X' 'F' '-']

In [40]:
# 1. Conteo de sex_victim
conteo_sexo = df['sex_victim'].value_counts()

# 2. Porcentaje de sex_victim
porcentaje_sexo = df['sex_victim'].value_counts(normalize=True) * 100

# 3. Mostrar resultados
resultado = pd.DataFrame({
    'Cantidad': conteo_sexo,
    'Porcentaje (%)': porcentaje_sexo.round(2)
})

print(resultado)

            Cantidad  Porcentaje (%)
sex_victim
M             398060           40.35
F             353688           35.85
-             139576           14.15
X              95176            9.65

## 5. Origen

In [42]:
# 1. Definimos los valores v√°lidos
valores_validos_descent = ['-', 'A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'J', 
                           'K', 'L', 'O', 'P', 'S', 'U', 'V', 'W', 'X', 'Z']

# 2. Verificamos los valores √∫nicos en el dataset
print("Valores √∫nicos en descent_victim:")
print(df['descent_victim'].unique())

# 3. Detectamos valores inv√°lidos
valores_invalidos = df[~df['descent_victim'].isin(valores_validos_descent)]

# 4. Mostramos las filas con descent_victim inv√°lido
print("\nFilas con valores inv√°lidos en descent_victim:")
print(valores_invalidos[['id_report', 'descent_victim']])

# 5. Cantidad de registros inv√°lidos
print(f"\nCantidad de registros con descent_victim inv√°lido: {len(valores_invalidos)}")

Valores √∫nicos en descent_victim:
['O' 'X' 'H' 'B' 'W' nan 'A' 'K' 'C' 'J' 'F' 'I' 'V' 'S' 'P' 'Z' 'G' 'U'
 'D' 'L' '-']

Filas con valores inv√°lidos en descent_victim:
        id_report descent_victim
13      221008844            NaN
23      200412582            NaN
26      222106031            NaN
27      200209713            NaN
33      221404806            NaN
...           ...            ...
986479  241107019            NaN
986482  241406728            NaN
986489  241513941            NaN
986496  240710284            NaN
986499  240910892            NaN

[139586 rows x 2 columns]

Cantidad de registros con descent_victim inv√°lido: 139586

In [66]:
# Reemplazar NaN por '-'
df['descent_victim'] = df['descent_victim'].fillna('-')

In [68]:
# 1. Definir los valores v√°lidos de razas
valores_validos_descent = ['-', 'A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'J', 
                           'K', 'L', 'O', 'P', 'S', 'U', 'V', 'W', 'X', 'Z']

# 2. Rellenar nulos si es necesario
df['descent_victim'] = df['descent_victim'].fillna('-')

# 3. Conteo de v√≠ctimas por raza
conteo_raza = df['descent_victim'].value_counts()

# 4. Porcentaje por raza
porcentaje_raza = df['descent_victim'].value_counts(normalize=True) * 100

# 5. Crear el DataFrame resultado
resultado_raza = pd.DataFrame({
    'Cantidad': conteo_raza,
    'Porcentaje (%)': porcentaje_raza.round(2)
})

# 6. Mostrar resultados
print(resultado_raza)

                Cantidad  Porcentaje (%)
descent_victim
H                 293088           29.71
W                 197773           20.05
-                 139588           14.15
B                 134449           13.63
X                 103966           10.54
O                  76983            7.80
A                  21081            2.14
K                   5720            0.58
F                   4592            0.47
C                   4330            0.44
J                   1506            0.15
V                   1128            0.11
I                    980            0.10
Z                    537            0.05
P                    279            0.03
U                    212            0.02
D                     88            0.01
L                     73            0.01
G                     72            0.01
S                     55            0.01

### id_report

In [5]:
df['id_report'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 986500 entries, 0 to 986499
Series name: id_report
Non-Null Count   Dtype
--------------   -----
986500 non-null  int64
dtypes: int64(1)
memory usage: 7.5 MB

In [45]:
df.iloc[:, :5].head(10)

,id_report,date_report,date_ocurrance,time_ocurrance,area_code
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6
5,231808869,04/04/2023 12:00:00 AM,12/01/2020 12:00:00 AM,2300,1
6,230110144,04/04/2023 12:00:00 AM,07/03/2020 12:00:00 AM,900,1
7,220314085,07/22/2022 12:00:00 AM,05/12/2020 12:00:00 AM,1110,3
8,231309864,04/28/2023 12:00:00 AM,12/09/2020 12:00:00 AM,1400,1
9,211904005,12/31/2020 12:00:00 AM,12/31/2020 12:00:00 AM,1220,1

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986500 entries, 0 to 986499
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id_report         986500 non-null  int64
 1   date_report       986500 non-null  object
 2   date_ocurrance    986500 non-null  object
 3   time_ocurrance    986500 non-null  int64
 4   area_code         986500 non-null  int64
 5   area_name         986500 non-null  object
 6   district          986500 non-null  object
 7   crime_severity    986500 non-null  int64
 8   crime_code        986500 non-null  int64
 9   crime_desc        986500 non-null  object
 10  crime_mo          840065 non-null  object
 11  age_victim        986500 non-null  int64
 12  sex_victim        986500 non-null  object
 13  descent_victim    846914 non-null  object
 14  loc_code          986486 non-null  float64
 15  loc_desc          985915 non-null  object
 16  weapon_code       326368 non-null  float64
 17  weapon_desc       326368 non-null  object
 18  case_status_code  986499 non-null  object
 19  case_status_desc  986500 non-null  object
 20  crime_code_1      986489 non-null  float64
 21  crime_code_2      68912 non-null   float64
 22  crime_code_3      2310 non-null    float64
 23  crime_code_4      64 non-null      float64
 24  location          986500 non-null  object
 25  cross_street      152270 non-null  object
 26  latitude          986500 non-null  float64
 27  longitude         986500 non-null  float64
 28  area_valid        986500 non-null  bool
 29  crime_ucr         986500 non-null  object
dtypes: bool(1), float64(8), int64(6), object(15)
memory usage: 219.2+ MB

### date_report

In [6]:
df['date_report']=pd.to_datetime(df['date_report'])

C:\Users\aaron\AppData\Local\Temp\ipykernel_24876\240740369.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date_report']=pd.to_datetime(df['date_report'])

In [7]:
df['date_report'] = df['date_report'].dt.strftime('%d/%m/%Y')

In [8]:
df['date_report']=pd.to_datetime(df['date_report'], format = '%d/%m/%Y')

In [9]:
df['date_report'].head()

0   2020-03-01
1   2020-02-09
2   2020-11-11
3   2023-05-10
4   2022-08-18
Name: date_report, dtype: datetime64[ns]

In [10]:
df['date_report'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 986500 entries, 0 to 986499
Series name: date_report
Non-Null Count   Dtype
--------------   -----
986500 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 7.5 MB

### date_ocurrance

### time_ocurrance

### area_code

### area_name

### age_victim

### location

### cross_street

### latitude

### longitude

### Todo

In [58]:
features_explore_JA = ['id_report','date_report','date_ocurrance','time_ocurrance','area_code','area_name','age_victim','location','cross_street','latitude','longitude']

In [59]:
df[features_explore_JA].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986500 entries, 0 to 986499
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id_report       986500 non-null  int64
 1   date_report     986500 non-null  object
 2   date_ocurrance  986500 non-null  object
 3   time_ocurrance  986500 non-null  int64
 4   area_code       986500 non-null  int64
 5   area_name       986500 non-null  object
 6   age_victim      986500 non-null  int64
 7   location        986500 non-null  object
 8   cross_street    152270 non-null  object
 9   latitude        986500 non-null  float64
 10  longitude       986500 non-null  float64
dtypes: float64(2), int64(4), object(5)
memory usage: 82.8+ MB

In [60]:
df[features_explore_JA].describe()

,id_report,time_ocurrance,area_code,age_victim,latitude,longitude
count,9.865000e+05,986500.000000,986500.000000,986500.000000,986500.000000,986500.000000
mean,2.198270e+08,1339.086392,2.734601,29.045177,33.996033,-118.083281
std,1.299240e+07,651.457178,2.516590,21.976666,1.633543,5.661853
min,8.170000e+02,1.000000,1.000000,-4.000000,0.000000,-118.667600
25%,2.106103e+08,900.000000,1.000000,0.000000,34.014600,-118.430500
50%,2.208174e+08,1420.000000,1.000000,30.000000,34.058900,-118.322500
75%,2.310049e+08,1900.000000,4.000000,44.000000,34.164900,-118.273900
max,2.499289e+08,2359.000000,9.000000,120.000000,34.334300,0.000000

In [61]:
df_categorical = df[features_explore_JA].select_dtypes(include='object')
df_categorical.describe()

,date_report,date_ocurrance,area_name,location,cross_street
count,986500,986500,986500,986500,152270
unique,1749,1749,9,66322,10337
top,02/02/2023 12:00:00 AM,01/01/2020 12:00:00 AM,77th Street,800 N ALAMEDA ST,BROADWAY
freq,929,1157,531859,2556,2467

In [62]:
df.loc[df['id_report']<9999999]

,id_report,date_report,date_ocurrance,time_ocurrance,area_code,area_name,district,crime_severity,crime_code,crime_desc,...,crime_code_1,crime_code_2,crime_code_3,crime_code_4,location,cross_street,latitude,longitude,area_valid,crime_ucr
39890,817,09/20/2020 12:00:00 AM,09/19/2020 12:00:00 AM,1700,1,77th Street,1777,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,9100 RUBIO AV,NaN,34.2367,-118.4955,True,MOTOR VEHICLE THEFT
268033,2113,06/21/2021 12:00:00 AM,04/05/2021 12:00:00 AM,1835,1,77th Street,1385,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,800 E GAGE AV,NaN,33.9820,-118.2622,True,MOTOR VEHICLE THEFT
581052,2203,12/31/2022 12:00:00 AM,12/19/2022 12:00:00 AM,1930,3,Devonshire,356,1,522,"VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, B...",...,522.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002,True,UNKNOWN
734486,2315,07/23/2023 12:00:00 AM,07/22/2023 12:00:00 AM,1800,1,77th Street,1566,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,420.0,NaN,NaN,NaN,4400 ENSIGN AV,NaN,34.1504,-118.3712,True,THEFT FROM VEHICLE
876571,2401,01/10/2024 12:00:00 AM,12/21/2023 12:00:00 AM,1930,1,77th Street,1416,1,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,3400 CABRILLO BL,NaN,34.0099,-118.4453,True,MOTOR VEHICLE THEFT

In [63]:
df['age_victim'].loc[df['age_victim']<0]

143      -2
375      -2
581      -1
595      -1
618      -1
         ..
636182   -1
654233   -1
681376   -1
728608   -1
828481   -1
Name: age_victim, Length: 132, dtype: int64

In [64]:
df[features_explore_JA].

SyntaxError: invalid syntax (1714947741.py, line 1)